<html xmlns="http://www.w3.org/1999/xhtml" lang="it" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
<style type="text/css">
.style1 {
				text-align: center;
}
</style>
</head>
<body>
  <div id="contenitore2">
  
    <!-- Contneuti -->
	 <div class="titolo">Accessibilit&eacute; </div>
	 <p>Il termine accessibilit&eacute; &eacute; mutuato dall'architettura e dall'urbanistica, 
	dove con accessibile si intende appunto un edificio che sia accessibile a 
	tutti, senza barriere architettoniche.</p>
	<p class="style1"><img src="../img/figure-4-32.jpg" /></p>
	<p>Con <strong>accessibilit&agrave; web</strong> (<em>web accessibility</em>) si intende il fatto che i contenuti del sito siano realizzati in modo tale da essere accessibili al maggior numero possibile di persone, compresi in particolare gli utenti con diverse disabilit&agrave; motorie, visive o cognitive (utenti i quali, in molti casi, accedono ai contenuti internet attraverso browser dedicati - es. browser vocali, che leggono il contenuto dei siti - o usando personalizzazioni e adattamenti dei browser normali). L'accessibilit&agrave; riguarda anche gli utenti con dotazioni hardware o software diverse dallo standard, quali per esempio computer vecchi e lenti o viceversa dispositivi particolari come tablet, smartphone o altri.</p>
	 <p>Come definizione generale di accessibilit&eacute; usiamo le parole di 
		<a target="_blank" href="http://it.wikipedia.org/wiki/Tim_Berners-Lee">Tim Berners-Lee</a> 
		(l'informatico britannico, co-inventore, insieme a Robert Cailliau, del 
		World Wide Web):</p>
	<blockquote>&quot;l'accessibilit&eacute; &eacute; l'arte di assicurare che, nel massimo grado possibile, 
	le strutture (quali, per esempio, l'accesso al Web) siano disponibili a 
	tutti, indipendentemente dal fatto che abbiano o meno impedimenti di 
	qualsiasi sorta.&quot;</blockquote>
	 <div class="titolo">Perch&eacute; ci deve interessare l'accessibilit&eacute;</div>
	<p>L'accessibilit&eacute; di un sito web &eacute; importante perch&eacute; Internet, per 
	definizione, &eacute; democratica e aperta a tutti e non dovrebbe discriminare gli 
	utenti per nessuna ragione. Inoltre l'uso della rete &eacute; spesso 
	particolarmente importante per coloro che soffrono di qualche disabilit&eacute;: si 
	pensi per esempio a persone paralizzate che possono usare Internet per fare 
	la spesa sul web oppure a non vedenti che, attraverso la rete, possono 
	accedere alle notizie e ai giornali.</p>
	<p>Inoltre un sito accessibile per coloro che soffrono di qualche 
	impedimento &eacute; in generale un sito pi&eacute; accessibile e piacevole da usare anche 
	per tutti gli altri.</p>
	 <p>Infine l'accessibilit&eacute; riguarda la possibilit&eacute; di accedere al sito anche 
		da parte di utenti con diverse dotazioni software o hardware (datati 
		oppure non standard): dunque un sito accessibile ha in generale un 
		potenziale bacino di utenza maggiore di un sito non accessibile.</p>
	 <div class="titolo">L'accessibilit&eacute; &eacute; richiesta dalla legge</div>
	 <p>Dal 2004 (l<em>egge Stanca</em>) tutti i siti italiani della pubblica 
		amministrazione o di interesse pubblico devono ottemperare alle 
		&eacute;Disposizioni per favorire l'accesso dei soggetti disabili agli 
		strumenti informatici&eacute; previste dalla legge.</p>
	<p>&nbsp;</p>
</div>
    <!-- Fine Contenuti -->
</body>
</html>



