<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
<title>Programmiamo</title>
<meta name="keywords" content="programmiamo, programmi, linguaggi, javascript, visual basic"/>
<meta name="description" content="linguaggi di programmazione"/>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
</head>
<body>
  <div id="contenitore2">  
    <!-- Contneuti -->
	 <div class="titolo">Tabelle e form</div>
	 <p>I form e le tabelle sono forse gli elementi pi&eacute; critici per quanto 
		riguarda l'accessibilit&eacute; nei confronti di persone con deficit visivo.</p>
	<p>Infatti in entrambi i casi l'utente deve interpretare le informazioni 
	fornite e inserirne altre in base alla loro disposizione nello spazio 
	(all'interno di celle e di campi).</p>
	<p>Data la sua particolare importanza, l'argomento &eacute; gi&eacute; stato trattato nel 
	dettaglio nella lezione su <a href=" tabelle/tab6.html">Tabelle e 
	accessibilit&eacute;</a> e in quella su <a href=" form/form6.html">Form e 
	accessibilit&eacute;</a>.</p>
	<p>&nbsp;</p>
</div>
    <!-- Fine Contenuti -->
</body>
</html>