<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
<title>Programmiamo</title>
<meta name="keywords" content="programmiamo, programmi, linguaggi, javascript, visual basic"/>
<meta name="description" content="linguaggi di programmazione"/>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
<style type="text/css">
.style1 {
				text-align: center;
}
</style>
</head>
<body>
  <div id="contenitore2">
    <!-- Contneuti -->
	 <div class="titolo">Tipologie di problemi visivi </div>
	 <p>I problemi visivi sono di diversa natura. Le tipologie principali sono 
		le seguenti:</p>
	<ul>
					<li><strong>Cecit&eacute;</strong><br />
					In questo caso gli utenti ricorrono a browser uditivi (in 
					grado cio&eacute; di leggere il contenuto della pagina) e a 
					tastiere braille o a navigazione con comandi vocali. Questa 
					tipologia di utenti &eacute; impossibilitata in generale 
					all'utilizzo del mouse, in quanto non pu&eacute; vedere la 
					posizione del cursore sullo schermo. Inoltre le immagini non 
					possono essere viste da questi utenti.<br />
					<br />
					</li>
					<li><strong>Ipovisione</strong><br />
					Le persone con una vista ridotta hanno difficolt&eacute; a leggere 
					il testo, specie se scritto in caratteri piccoli o su sfondo 
					a scarso contrasto. Possono inoltre avere difficolt&eacute; 
					nell'uso della tastiera e del mouse.<br />
					<br />
					</li>
					<li><strong>Daltonismo</strong> e altri problemi con i colori<br />
					Coloro che non distinguono o distinguono male i colori, 
					hanno spesso difficolt&eacute; a distinguere i caratteri dallo 
					sfondo colorato o possono non distinguere i colori sulle 
					immagini. In particolare questi disturbi sono distinti in
					<em>deuteranopia</em> (insensibilit&eacute; al verde), <em>
					protanopia</em> (insensibilit&eacute; al rosso) e <em>tritanopia</em> 
					(molto rara, insensibilit&eacute; al blu). Per valutare l'effetto 
					delle combinazioni dei colori usati sulla pagina &eacute; molto 
					utile la
					<a target="_blank" href="http://gmazzocato.altervista.org/it/colorwheel/wheel.php">
					ruota dei colori</a>.</li>
	</ul>
	<p class="style1">&nbsp;</p>
	 <div class="titolo">Raccomandazioni per affrontare i problemi visivi</div>
	 <p>Le principali raccomandazioni per rendere un sito accessibile a chi ha 
		problemi visivi sono:</p>
	<ul>
					<li>fornire una descrizione testuale a tutte le immagini e 
					agli elementi grafici (esempio a<a href="access9.html">ttributo ALT
					</a>degli elementi 
					IMG);<br />
					<br />
					</li>
					<li>non affidare al solo elemento grafico la trasmissione di 
					informazioni significative (per esempio l'uso solo di 
					un'immagine, es. una casetta, per indicare il link alla home 
					page non va bene);<br />
					<br />
					</li>
					<li>usare combinazioni di colori ad <a href="access4.html">elevato contrasto</a>;<br />
					<br />
					</li>
					<li>consentire all'utente di modificare liberamente le 
					dimensioni e le altre caratteristiche dei caratteri usati;<br />
					<br />
					</li>
					<li>non utilizzare solo colori per trasmettere informazioni 
					importanti (es. usare il rosso e il verde per indicare 
					operazioni proibite e consentite non va bene per coloro che 
					non distinguono i colori).</li>
	</ul>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
</div>
    <!-- Fine Contenuti -->
</body>
</html>



