<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
<title>Programmiamo</title>
<meta name="keywords" content="programmiamo, programmi, linguaggi, javascript, visual basic"/>
<meta name="description" content="linguaggi di programmazione"/>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
<style type="text/css">
.style1 {
				text-align: center;
}
.style2 {
				font-weight: bold;
				font-size: 1.25em;
				color: rgb(51, 51, 51);
}
.style3 {
				background-color: #E8E8E8;
}
.style4 {
				color: red;
				background-color: #339900;
}
.style5 {
				color: #00CC66;
				background-color: #669900;
}
.style6 {
				color: #FF0066;
				background-color: #999999;
}
</style>
</head>
<body>
  <div id="contenitore2">
    <!-- Contneuti -->
	 <div class="titolo">Colori e combinazione di colori</div>
	 <p>In generale la scelta dei colori &eacute; fondamentale perch&eacute; contribuisce a 
		rendere piacevole (o sgradevole) la visualizzazione di una pagina. In 
		realt&eacute; non sono tanto i colori in s&eacute; a fornire queste sensazioni, ma 
		piuttosto le combinazioni di colori utilizzate. Le combinazioni di 
		colori possono essere valutate facendo riferimento alla cosiddetta 
		<strong>ruota 
		cromatica</strong>:</p>
	<p class="style1"><img src="../img/color_colorwheel.jpg" /></p>
	<p>In questa ruota i colori vicini sono detti <strong>analoghi</strong>, 
	mentre quelli che si trovano ai lati opposti della ruota sono detti <strong>
	contrastanti</strong>. Per esempio giallo e verde sono analoghi, mentre 
	verde e rosso sono contrastanti. </p>
	<p>In generale i colori contrastanti vanno scelti dove si ha la necessit&eacute; di 
	dare risalto ad un certo elemento. I colori analoghi vanno invece preferiti 
	quando si vuole stressare di meno l&#8217;occhio del navigatore o per gli elementi 
	della navigazione standard del sito (i men&eacute;, la separazione delle varie aree 
	di contenuto, ecc.). </p>
	<p>Un'altra importante distinzione &eacute; quella fra i colori <strong>caldi</strong> 
	e colori <strong>freddi</strong>: i primi costituiti da gialli, rossi e 
	arancioni, i secondi comprendenti azzurri, verdi e viola. Le combinazioni 
	basate su colori caldi (formati da combinazioni in cui prevalgono il rosso 
	ed il giallo) sono consigliate soprattutto quando si vuole sottolineare in 
	maniera decisa qualche elemento grafico collegato a qualche azione obiettivo 
	della pagina (testo, bottoni, aree tematiche, ecc.), in quanto tendono ad 
	&#8220;avanzare&#8221; (cio&eacute; ad emergere dal contesto). I colori freddi, in cui cio&eacute; 
	prevale il blu, andrebbero invece utilizzati soprattutto per gli elementi di 
	contorno e la navigazione ordinaria dell&#8217;interfaccia, in quanto attirano 
	meno l&#8217;attenzione, tendono ad essere &#8220;recessivi&#8221; (si vedono meno man mano 
	che ci si allontana dalla sorgente) e sono comunque tra i pi&eacute; neutri. </p>
	<p class="style1">
	<img alt="Colori caldi e freddi" src="../img/img32.jpg" /></p>
	<p>Non esistono&nbsp; colori e combinazioni di colori migliori in assoluto, 
	ma &eacute; importante scegliere una combinazione che esprima in modo efficace la 
	&quot;personalit&eacute;&quot; del proprio sito. Uno strumento molto utile per questo scopo &eacute;
	<a target="_blank" href="http://paletton.com">Paletton</a>.</p>
	 <div class="titolo">Colori, contrasto e accessibilit&eacute;</div>
	 <p>Naturalmente la scelta delle combinazioni di colori &eacute; della massima 
		importanza per costruire un sito accessibile, in quanto i colori usati 
		possono limitare (o favorire) la leggibilit&eacute; della pagina da parte di 
		utenti con varie disabilit&eacute; visive. A questo proposito non &eacute; importante 
		solo la tonalit&eacute; di colore scelto, ma anche la luminosit&eacute;.</p>
	<p>Il <strong>contrasto</strong>, ossia la differenza di luminosit&eacute; tra i 
	caratteri e lo sfondo, &eacute; uno dei fattori che maggiormente incidono sulla 
	leggibilit&eacute; di un testo scritto. Si consideri a titolo di esempio l'immagine 
	seguente: come si pu&eacute; facilmente notare alcune combinazioni di colori 
	risultano praticamente illeggibili anche per gli utenti dotati di vista 
	normale!</p>
	<p>
	<img src="../img/tabella%20contrasto.jpg" alt="Tabella con diverse combinazioni di colore testo/sfondo." /></p>
	<p>In generale, affinch&eacute; una pagina web sia leggibile, il colore di sfondo e 
	il colore di primo piano devono essere sufficientemente &quot;distanti&quot;, ovvero 
	la differenza di colore, per luminosit&eacute; e distanza cromatica, deve essere 
	pi&eacute; grande di una soglia determinata. </p>
	<p>Il <strong>rapporto di contrasto</strong> misura la differenza di 
	contrasto fra lo sfondo e il primo piano. Senza voler entrare qui nei 
	dettagli, tale rapporto pu&eacute; essere espresso con un numero che assume valori 
	compresi fra 1 (contrasto minimo) e 21 (contrasto massimo). Il valore minimo 
	(1) si ha quando non c'&eacute; differenza fra il colore di sfondo e quello di 
	primo piano; il contrasto massimo corrisponde invece alla combinazione 
	bianco e nero (spesso si tende ad evitare o a ridurre l'uso di tale 
	combinazione di colori poich&eacute; risulta stressante per gli occhi).</p>
	<p>Le 
	raccomandazioni contenute nelle
	<a target="_blank" href="http://www.w3.org/TR/WCAG/">Web Content 
	Accessibility Guidelines</a> (WCAG) prevedono un contrasto minimo di 4,5 per 
	il testo principale e di 3 per il testo in caratteri grandi (oltre i 18 
	pixel o 14 pixel in grassetto). Per i siti dedicati prevalentemente a utenti 
	ipovedenti il contrasto minimo previsto &eacute; pari a 7.</p>
	<p>Ci sono online diversi strumenti che permettono di valutare efficacemente 
	le combinazioni di colori e il contrasto delle proprie pagine. Fra i pi&eacute; 
	utili segnaliamo:</p>
	<ul>
					<li>
					<a target="_blank" href="http://leaverou.github.io/contrast-ratio/">
					Contrast Ratio</a>: misura il valore di contrasto per una 
					data combinazione di colori<br />
					</li>
					<li>
					<a target="_blank" href="http://www.checkmycolours.com/">Check My Colour</a>: 
	test sui colori usati nella pagina<br />
					</li>
					<li>
					<a target="_blank" href="http://colorfilter.wickline.org/">
					Colour Blind Web Page Filter</a>: permette di visualizzare 
					una pagina simulando diversi problemi nella percezione dei 
					colori.<br />
					</li>
					<li>
					<a target="_blank" href="http://www.accesskeys.org/tools/color-contrast.html">
					Accessi Keys</a>: un ottimo strumento online per valutare il 
					contrasto dei colori usati in una pagina</li>
	</ul>
	 <p>&nbsp;</p>
	 <div class="titolo">Combinazioni di colori problematiche</div>
	 <p>I recettori presenti sulla retina dell'occhio umano sono di due tipi: 
		coni (sensibili ai colori), bastoncelli (sensibili alla intensit&eacute; 
		luminosa). Per quanto riguarda i coni, ne esistono di tre tipi 
		differenti, sensibili ciascuno a uno dei colori primari: rosso, verde e 
		blu.</p>
	<p>Se in un occhio nessuno dei tre tipi di coni funziona, si ha una 
	condizione molto rara in cui le immagini appaiono senza colori (in scala di 
	grigio). Pi&eacute; comune &eacute; la presenza di un deficit in uno solo dei tipi di 
	coni, soprattutto i rossi e i verdi.</p>
	<p>Per gli utenti che hanno problemi con la sensibilit&eacute; al colore rosso (<em>protanopia</em>), 
	il rosso appare come nero o comunque molto scuro. Per questo dovrebbe essere 
	evitata la combinazione rosso e nero, come mostra l'esempio qui sotto:</p>
	<table border="0" cellspacing="0" align="center" class="chart" summary="Warning sign test. All cells say warning, but color scheme changes" style="margin: 0px 45px 1em 30px; padding: 0px; border: 2px solid rgb(102, 102, 102); outline: 0px; font-size: 14px; vertical-align: baseline; border-collapse: collapse; border-spacing: 0px; width: auto !important; color: rgb(0, 0, 0); font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', sans-serif; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 21px; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px; background: rgb(255, 255, 255);">
					<caption align="bottom" style="border-style: none; border-color: inherit; border-width: 0px; margin: 0px; padding: 0px; outline: 0px; vertical-align: baseline; text-align: center; background: transparent;" class="style2">
					Esempio di percezione colori</caption>
					<tbody style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; background: transparent;">
									<tr style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; background: transparent;">
													<th scope="row" style="margin: 0px; padding: 3px !important; border: 1px solid rgb(102, 102, 102); outline: 0px; vertical-align: baseline; border-collapse: collapse; text-align: right; background: rgb(232, 232, 232);">
													Visione normale</th>
													<td style="margin: 0px; padding: 6px; border: 1px solid rgb(0, 100, 0); outline: 0px; font-size: 14px; vertical-align: top; border-collapse: collapse; color: black; background: red;">
													<b style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; background: transparent;">
													Warning</b></td>
													<td style="margin: 0px; padding: 6px; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 14px; vertical-align: top; border-collapse: collapse; color: white; background: red;">
													<b style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; background: transparent;">
													Warning</b></td>
									</tr>
									<tr style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; background: transparent;">
													<th scope="row" style="background-position: 0% 0%; margin: 0px; padding: 3px !important; border: 1px solid rgb(102, 102, 102); outline: 0px; vertical-align: baseline; border-collapse: collapse; text-align: right; background-image: none; background-repeat: repeat; background-attachment: scroll;" class="style3">
													Protanopia</th>
													<td style="margin: 0px; padding: 6px; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 14px; vertical-align: top; border-collapse: collapse; color: black; background: black;">
													<b style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; background: transparent;">
													Warning</b></td>
													<td style="margin: 0px; padding: 6px; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 14px; vertical-align: top; border-collapse: collapse; color: white; background: black;">
													<b style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; background: transparent;">
													Warning</b></td>
									</tr>
	</table>
	<br class="Apple-interchange-newline" />
	Anche le combinazioni di verde e rosso dovrebbero essere evitate, poich&eacute; 
	rappresentano un problema per utenti con cecit&eacute; totale o parziale al rosso 
	e/o al verde, come mostra l'esempio seguente:<br />
	<table border="0" cellspacing="0" align="center" class="chart" summary="Warning sign test. All cells say warning, but color scheme changes" style="margin: 0px 45px 1em 30px; padding: 0px; border: 2px solid rgb(102, 102, 102); outline: 0px; font-size: 14px; vertical-align: baseline; border-collapse: collapse; border-spacing: 0px; width: auto !important; color: rgb(0, 0, 0); font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', sans-serif; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 21px; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px; background: rgb(255, 255, 255);">
					<caption align="bottom" style="border-style: none; border-color: inherit; border-width: 0px; margin: 0px; padding: 0px; outline: 0px; vertical-align: baseline; text-align: center; background: transparent;" class="style2">
					Esempio di percezione colori</caption>
					<tbody style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; background: transparent;">
									<tr style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; background: transparent;">
													<th scope="row" style="margin: 0px; padding: 3px !important; border: 1px solid rgb(102, 102, 102); outline: 0px; vertical-align: baseline; border-collapse: collapse; text-align: right; background: rgb(232, 232, 232);">
													Visione normale</th>
													<td style="background-position: 0% 0%; margin: 0px; padding: 6px; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 14px; vertical-align: top; border-collapse: collapse; background-image: none; background-repeat: repeat; background-attachment: scroll;" class="style4">
													<b style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; background: transparent;">
													Warning</b></td>
									</tr>
									<tr>
													<th scope="row" style="background-position: 0% 0%; margin: 0px; padding: 3px !important; border: 1px solid rgb(102, 102, 102); outline: 0px; vertical-align: baseline; border-collapse: collapse; text-align: right; background-image: none; background-repeat: repeat; background-attachment: scroll;" class="style3">
													Deuteranopia </th>
													<td style="background-position: 0% 0%; margin: 0px; padding: 6px; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 14px; vertical-align: top; border-collapse: collapse; background-image: none; background-repeat: repeat; background-attachment: scroll;" class="style5">
													<b style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; background: transparent;">
													Warning</b></td>
													</tr>
									<tr style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; background: transparent;">
													<th scope="row" style="background-position: 0% 0%; margin: 0px; padding: 3px !important; border: 1px solid rgb(102, 102, 102); outline: 0px; vertical-align: baseline; border-collapse: collapse; text-align: right; background-image: none; background-repeat: repeat; background-attachment: scroll;" class="style3">
													Tritanopia&nbsp; </th>
													<td style="background-position: 0% 0%; margin: 0px; padding: 6px; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 14px; vertical-align: top; border-collapse: collapse; background-image: none; background-repeat: repeat; background-attachment: scroll;" class="style6">
													<b style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; background: transparent;">
													Warning</b></td>
									</tr>
	</table>
	<p>Inoltre andrebbe evitata ogni combinazione di colori troppo brillanti. I 
	colori brillanti possono causare un effetto immagine residua (<em>after 
	image effect</em>). Quando si ha la sovrapposizione di due colori brillanti, 
	le due immagini residue possono interferire fra loro, provocando in alcuni 
	utenti un effetto di <em>vibrazione dei colori</em>. La tabella seguente 
	mostra alcune di combinazioni di colori vibranti:</p>
	<table cellspacing="0" class="chart" style="margin: 0px 45px 1em 30px; padding: 0px; border: 2px solid rgb(102, 102, 102); outline: 0px; font-size: large; vertical-align: baseline; border-collapse: collapse; border-spacing: 0px; width: auto !important; color: rgb(0, 0, 0); font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', sans-serif; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 21px; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px; background: rgb(255, 255, 255);">
					<caption style="margin: 0px; padding: 0px 0px 5px; border: 0px; outline: 0px; font-size: 1.25em; vertical-align: baseline; font-weight: 700; color: rgb(51, 51, 51); text-align: center; background: transparent;">
					Some Vibrating Color Combinations<br />
					</caption>
					<tbody style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 18px; vertical-align: baseline; background: transparent;">
									<tr style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 18px; vertical-align: baseline; background: transparent;">
													<th scope="row" style="margin: 0px; padding: 3px !important; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 18px; vertical-align: baseline; border-collapse: collapse; color: rgb(0, 0, 0); background: rgb(232, 232, 232);">
													red/green</th>
													<td style="margin: 0px; padding: 3px !important; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 18px; vertical-align: top; border-collapse: collapse; color: rgb(0, 0, 0); background: rgb(0, 255, 0);">
													<p style="margin: 1.6em 0px; padding: 0px; border: 0px; outline: 0px; font-size: 18px; vertical-align: baseline; orphans: 4; background: transparent;">
													<b style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 18px; vertical-align: baseline; color: red; background: transparent;">
													red on green</b></p>
													</td>
													<td style="margin: 0px; padding: 3px !important; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 18px; vertical-align: top; border-collapse: collapse; color: rgb(0, 0, 0); background: red;">
													<p style="margin: 1.6em 0px; padding: 0px; border: 0px; outline: 0px; font-size: 18px; vertical-align: baseline; orphans: 4; background: transparent;">
													<b style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 18px; vertical-align: baseline; color: rgb(0, 255, 0); background: transparent;">
													green on red</b></p>
													</td>
									</tr>
									<tr style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 18px; vertical-align: baseline; background: transparent;">
													<th scope="row" style="margin: 0px; padding: 3px !important; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 18px; vertical-align: baseline; border-collapse: collapse; color: rgb(0, 0, 0); background: rgb(232, 232, 232);">
													blue/orange</th>
													<td style="margin: 0px; padding: 3px !important; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 18px; vertical-align: top; border-collapse: collapse; color: rgb(0, 0, 0); background: rgb(255, 102, 0);">
													<p style="margin: 1.6em 0px; padding: 0px; border: 0px; outline: 0px; font-size: 18px; vertical-align: baseline; orphans: 4; background: transparent;">
													<b style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 18px; vertical-align: baseline; color: blue; background: transparent;">
													blue on orange</b></p>
													</td>
													<td style="margin: 0px; padding: 3px !important; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 18px; vertical-align: top; border-collapse: collapse; color: rgb(0, 0, 0); background: rgb(0, 0, 255);">
													<p style="margin: 1.6em 0px; padding: 0px; border: 0px; outline: 0px; font-size: 18px; vertical-align: baseline; orphans: 4; background: transparent;">
													<b style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 18px; vertical-align: baseline; color: rgb(255, 102, 0); background: transparent;">
													orange on blue</b></p>
													</td>
									</tr>
									<tr style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 18px; vertical-align: baseline; background: transparent;">
													<th scope="row" style="margin: 0px; padding: 3px !important; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 18px; vertical-align: baseline; border-collapse: collapse; color: rgb(0, 0, 0); background: rgb(232, 232, 232);">
													green/magenta</th>
													<td style="margin: 0px; padding: 3px !important; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 18px; vertical-align: top; border-collapse: collapse; color: rgb(0, 0, 0); background: rgb(255, 0, 255);">
													<p style="margin: 1.6em 0px; padding: 0px; border: 0px; outline: 0px; font-size: 18px; vertical-align: baseline; orphans: 4; background: transparent;">
													<b style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 18px; vertical-align: baseline; color: rgb(0, 255, 0); background: transparent;">
													green on magenta</b></p>
													</td>
													<td style="margin: 0px; padding: 3px !important; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 18px; vertical-align: top; border-collapse: collapse; color: rgb(0, 0, 0); background: rgb(0, 255, 0);">
													<p style="margin: 1.6em 0px; padding: 0px; border: 0px; outline: 0px; font-size: 18px; vertical-align: baseline; orphans: 4; background: transparent;">
													<b style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 18px; vertical-align: baseline; color: rgb(255, 0, 255); background: transparent;">
													magenta on green</b></p>
													</td>
									</tr>
									<tr style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 18px; vertical-align: baseline; background: transparent;">
													<th scope="row" style="margin: 0px; padding: 3px !important; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 18px; vertical-align: baseline; border-collapse: collapse; color: rgb(0, 0, 0); background: rgb(232, 232, 232);">
													yellow/cyan</th>
													<td style="margin: 0px; padding: 3px !important; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 18px; vertical-align: top; border-collapse: collapse; color: rgb(0, 0, 0); background: rgb(0, 255, 255);">
													<p style="margin: 1.6em 0px; padding: 0px; border: 0px; outline: 0px; font-size: 18px; vertical-align: baseline; orphans: 4; background: transparent;">
													<b style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 18px; vertical-align: baseline; color: rgb(255, 255, 0); background: transparent;">
													yellow on cyan</b></p>
													</td>
													<td style="margin: 0px; padding: 3px !important; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 18px; vertical-align: top; border-collapse: collapse; color: rgb(0, 0, 0); background: rgb(255, 255, 0);">
													<p style="margin: 1.6em 0px; padding: 0px; border: 0px; outline: 0px; font-size: 18px; vertical-align: baseline; orphans: 4; background: transparent;">
													<b style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 18px; vertical-align: baseline; color: rgb(0, 255, 255); background: transparent;">
													cyan on yellow</b></p>
													</td>
									</tr>
									<tr style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 18px; vertical-align: baseline; background: transparent;">
													<th scope="row" style="margin: 0px; padding: 3px !important; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 18px; vertical-align: baseline; border-collapse: collapse; color: rgb(0, 0, 0); background: rgb(232, 232, 232);">
													blue/magenta</th>
													<td style="margin: 0px; padding: 3px !important; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 18px; vertical-align: top; border-collapse: collapse; color: rgb(0, 0, 0); background: rgb(0, 0, 255);">
													<p style="margin: 1.6em 0px; padding: 0px; border: 0px; outline: 0px; font-size: 18px; vertical-align: baseline; orphans: 4; background: transparent;">
													<b style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 18px; vertical-align: baseline; color: rgb(255, 0, 255); background: transparent;">
													magenta on blue</b></p>
													</td>
													<td style="margin: 0px; padding: 3px !important; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 18px; vertical-align: top; border-collapse: collapse; color: rgb(0, 0, 0); background: rgb(255, 0, 255);">
													<p style="margin: 1.6em 0px; padding: 0px; border: 0px; outline: 0px; font-size: 18px; vertical-align: baseline; orphans: 4; background: transparent;">
													<b style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 18px; vertical-align: baseline; color: rgb(0, 0, 255); background: transparent;">
													blue on magenta</b></p>
													</td>
									</tr>
									<tr style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 18px; vertical-align: baseline; background: transparent;">
													<th scope="row" style="margin: 0px; padding: 3px !important; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 18px; vertical-align: baseline; border-collapse: collapse; color: rgb(0, 0, 0); background: rgb(232, 232, 232);">
													orange/yellow</th>
													<td style="margin: 0px; padding: 3px !important; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 18px; vertical-align: top; border-collapse: collapse; color: rgb(0, 0, 0); background: rgb(255, 102, 0);">
													<p style="margin: 1.6em 0px; padding: 0px; border: 0px; outline: 0px; font-size: 18px; vertical-align: baseline; orphans: 4; background: transparent;">
													<b style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 18px; vertical-align: baseline; color: rgb(255, 255, 0); background: transparent;">
													yellow on orange</b></p>
													</td>
													<td style="margin: 0px; padding: 3px !important; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 18px; vertical-align: top; border-collapse: collapse; color: rgb(0, 0, 0); background: rgb(255, 255, 0);">
													<p style="margin: 1.6em 0px; padding: 0px; border: 0px; outline: 0px; font-size: 18px; vertical-align: baseline; orphans: 4; background: transparent;">
													<b style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 18px; vertical-align: baseline; color: rgb(255, 102, 0); background: transparent;">
													orange on yellow (not so 
													bad)</b></p>
													</td>
									</tr>
									<tr style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 18px; vertical-align: baseline; background: transparent;">
													<th scope="row" style="margin: 0px; padding: 3px !important; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 18px; vertical-align: baseline; border-collapse: collapse; color: rgb(0, 0, 0); background: rgb(232, 232, 232);">
													blue/green</th>
													<td style="margin: 0px; padding: 3px !important; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 18px; vertical-align: top; border-collapse: collapse; color: rgb(0, 0, 0); background: rgb(0, 0, 255);">
													<p style="margin: 1.6em 0px; padding: 0px; border: 0px; outline: 0px; font-size: 18px; vertical-align: baseline; orphans: 4; background: transparent;">
													<b style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 18px; vertical-align: baseline; color: rgb(0, 255, 0); background: transparent;">
													green on blue</b></p>
													</td>
													<td style="margin: 0px; padding: 3px !important; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 18px; vertical-align: top; border-collapse: collapse; color: rgb(0, 0, 0); background: rgb(0, 255, 0);">
													<p style="margin: 1.6em 0px; padding: 0px; border: 0px; outline: 0px; font-size: 18px; vertical-align: baseline; orphans: 4; background: transparent;">
													<b style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 18px; vertical-align: baseline; color: rgb(0, 0, 255); background: transparent;">
													blue on green</b></p>
													</td>
									</tr>
									<tr style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 18px; vertical-align: baseline; background: transparent;">
													<th scope="row" style="margin: 0px; padding: 3px !important; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 18px; vertical-align: baseline; border-collapse: collapse; color: rgb(0, 0, 0); background: rgb(232, 232, 232);">
													purple/yellow</th>
													<td style="margin: 0px; padding: 3px !important; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 18px; vertical-align: top; border-collapse: collapse; color: rgb(0, 0, 0); background: rgb(255, 255, 0);">
													<p style="margin: 1.6em 0px; padding: 0px; border: 0px; outline: 0px; font-size: 18px; vertical-align: baseline; orphans: 4; background: transparent;">
													<b style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 18px; vertical-align: baseline; color: rgb(153, 0, 153); background: transparent;">
													purple on yellow</b></p>
													</td>
													<td style="margin: 0px; padding: 3px !important; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 18px; vertical-align: top; border-collapse: collapse; color: rgb(0, 0, 0); background: rgb(153, 0, 153);">
													<p style="margin: 1.6em 0px; padding: 0px; border: 0px; outline: 0px; font-size: 18px; vertical-align: baseline; orphans: 4; background: transparent;">
													<b style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 18px; vertical-align: baseline; color: rgb(255, 255, 0); background: transparent;">
													yellow on purple</b></p>
													</td>
									</tr>
	</table>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
</div>
    <!-- Fine Contenuti -->
</body>
</html>



