<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
<title>Programmiamo</title>
<meta name="keywords" content="programmiamo, programmi, linguaggi, javascript, visual basic"/>
<meta name="description" content="linguaggi di programmazione"/>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
</head>
<body>
  <div id="contenitore2">  
    <!-- Contneuti -->
	 <div class="titolo">Validazione della accessibilit&eacute;</div>
	 <p>L'accessibilit&eacute; di una pagina web e di un sito pu&eacute; essere valutata e 
		validata in base alle linee guida WCAG (&eacute; un requisito misurabile e 
		quantificabile).</p>
	<p>Esistono numerosi programmi e servizi online che permettono di valutare 
		e validare l'accessibilit&eacute; delle proprie pagine, tenendo conto di tutte 
		le precedenti linee guida. Fra questi citiamo:</p>
	<ul style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px;">
					<li>
					<a target="_blank" href="http://achecker.ca/checker/index.php">
					AChecker</a><br />
					Molto preciso, mostra solo gli errori effettivamente 
					presenti.<br />
					<br />
					</li>
					<li>
					<a target="_blank" href="http://www.tenon.io/">Tenon</a><br />
					Molto preciso e accurato nell'individuare e spiegare gli 
					errori commessi.<br />
					<br />
					</li>
					<li><a target="_blank" href="http://fae.cita.uiuc.edu/">
					Functional Accessibility Evaluator</a><br />
					Consente (dopo l'iscrizione) di valutare l'accessibilit&eacute; 
					dell'intero sito. <br />
					<br />
					</li>
					<li>
					<a target="_blank" href="http://www.powermapper.com/products/sortsite/checks/accessibility-checks.htm">
					SortSite</a><br />
					Valuta l'accessibilit&eacute; di un intero sito (max 10 pagine 
					nella versione gratuita).<br />
					<br />
					</li>
					<li><a target="_blank" href="http://wave.webaim.org/">Wave</a>
					  <br />
					  Permette anche di visualizzare la pagina senza foglio stile 
					e di valutare il contrasto dei colori scelti.<br /><br />
	  </li>
					<li><a target="_blank" href="http://examinator.ws/">
					Examinator</a><br />
					In lingua spagnola, fornisce anche un voto per valutare 
					l'accessibilit&eacute; globale della pagina.<br />
					<br />
					</li>
					<li>
					<a target="_blank" href="http://checkers.eiii.eu/">European 
					Internet Inclusion Initiative</a><br />
					Segnala in modo chiaro e sintetico i problemi maggiori.<br />
					</li>
	</ul>
	 <div class="titolo">Strumenti specifici per le disabilit&eacute; visive</div>
	<p>Segnaliamo anche alcuni strumenti online specifici per i problemi legati 
	alle disabilit&eacute; visive:</p>
	<ul>
					<li><a target="_blank" href="http://gmazzocato.altervista.org/it/colorwheel/wheel.php">Ruota 
	dei colori accessibili</a>: uno strumento per validare l'accessibilit&eacute; dei 
	colori di testo e di sfondo in una pagina<br />
					<br />
					</li>
					<li><a target="_blank" href="http://www.checkmycolours.com/">Check My Colour</a>: 
	test sui colori usati nella pagina<br />
					<br />
					</li>
					<li>
					<a target="_blank" href="http://colorfilter.wickline.org/">
					Colour Blind Web Page Filter</a>: permette di visualizzare 
					una pagina simulando diversi problemi nella percezione dei 
					colori.<br />
					<br />
					</li>
					<li>
					<a target="_blank" href="http://www.accesskeys.org/tools/color-contrast.html">
					Accessi Keys</a>: un ottimo strumento online per valutare il 
					contrasto dei colori usati in una pagina<br />
					<br />
					</li>
					<li>
					<a target="_blank" href="http://paletton.com">Paletton</a>: 
					uno strumento per creare palette (combinazioni di colori) 
					per il proprio sito<br />
					<br />
					</li>
					<li>
					<a target="_blank" href="http://leaverou.github.io/contrast-ratio/">
					Contrast Ratio</a>: misura il valore di contrasto per una 
					data combinazione di colori<br />
					<br />
					</li>
	</ul>
	 <div class="titolo">Strumenti per valutare la leggibilit&eacute; dei testi</div>
	 <p>Mediante formule basate sulla lunghezza dei testi e delle parole &eacute; 
		possibile (in modo alquanto approssimativo) valutare la leggibilit&eacute; (readability) 
		delle pagine web. Fra gli strumenti pi&eacute; utili segnaliamo:</p>
	<ul>
					<li><a target="_blank" href="http://read-able.com/">
					Read-able</a>: uno dei migliori test, confronta fra loro i 
					risultati di diverse formule<br />
					<br />
					</li>
					<li>
					<a target="_blank" href="https://readability-score.com/">
					Readability-score</a><br />
					<br />
					</li>
					<li>
					<a target="_blank" href="http://juicystudio.com/services/readability.php">
					Juicy Studio</a> readability test</li>
	</ul>
	<p>&nbsp;</p>
</div>
    <!-- Fine Contenuti -->
</body>
</html>



