<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it">
<head>
<title>Programmiamo</title>
<meta name="keywords" content="programmiamo, programmi, linguaggi, javascript, visual basic"/>
<meta name="description" content="linguaggi di programmazione"/>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
<link href=" ../css/principale.css" rel="stylesheet" type="text/css"/>
<link href=" ../css/classi.css" rel="stylesheet" type="text/css"/>
<style type="text/css">
.style1 {
				text-align: center;
}
</style>
</head>
<body>
  <div id="contenitore2">
    <!-- Contneuti -->

	<div class="titolo">

	  <p>Istruzione if ... else ... </p>
	</div>
        <p>L'istruzione <strong>if</strong>...<strong>else</strong> serve per eseguire due sequenze di istruzioni diverse, a seconda che la condizione sia vera oppure falsa: </p>
                <div class="code">
                  <p>if (<em>condizione</em>) <br />
                 &nbsp;&nbsp;&nbsp; {   <br />
                  &nbsp;&nbsp;&nbsp;<em>istruzione1</em>;<br />
                  &nbsp;&nbsp;&nbsp;<em>istruzione2</em>;<br />
                  &nbsp;&nbsp;&nbsp;...<br />
                 &nbsp;&nbsp;&nbsp; }<br />
                  else<br />
                 &nbsp;&nbsp;&nbsp; {   <br />
                  &nbsp;&nbsp;&nbsp;<em>istruzione3</em>;<br />
                  &nbsp;&nbsp;&nbsp;<em>istruzione4</em>;<br />
                  &nbsp;&nbsp;&nbsp;...<br />
                 &nbsp;&nbsp;&nbsp; }<br /></p>
                </div>
				<p>La <em>sequenza di istruzioni</em> (istruzione1, istruzione2...) viene eseguita se la <em>condizione</em> &egrave; vera. Se la condizione &egrave; falsa viene eseguita la sequenza di istruzioni istruzione3, istruzione4....  </p>
				<p>Il corrispondente diagramma di flusso &egrave; questo: </p>
				<p class="style1"><img src="../img/if_else.png" alt="" width="405" height="567" /></p>
				<div class="titolo">
                  </div>
        <p>La selezione a due vie (if... else) in JS ha la seguente sintassi:</p>

        <div class="code">
          if (a&lt;b)<br />
            &nbsp;&nbsp;&nbsp;{<br />
            &nbsp;&nbsp;&nbsp;max = b;<br />
          &nbsp;&nbsp;&nbsp;min = a;<br />
          &nbsp;&nbsp;&nbsp;}<br />
          else<br />
          &nbsp;&nbsp;&nbsp;{<br />
          &nbsp;&nbsp;&nbsp;max = a;<br />
          &nbsp;&nbsp;&nbsp;min = b;<br />
          &nbsp;&nbsp;&nbsp;}</div>
                <p>Anche nel caso dell'istruzione if...else, come nel caso dell'if semplice, se la sequenza di istruzioni contiene una sola istruzione, le parentesi graffe possono essere omesse: </p>
				<div class="code">
                  if (<em>num%2==0</em>) <br />
                 &nbsp;&nbsp;&nbsp; cout&lt;&lt;&quot;Il numero &egrave; pari!&quot;;<br />
                 else <br />
                 &nbsp;&nbsp;&nbsp; cout&lt;&lt;&quot;Il numero &egrave; dispari!&quot;; 
                </div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
</div>
    <!-- Fine Contenuti -->
</body>
</html>



