<ul>
    <li>
        <strong>FOGLI STILE</strong><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('css/css1.html')">Fogli stile incorporati</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('css/css2.html')">F<span class="style1">ogli stile esterni</span></a> <br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('css/css3.html')">Sintassi dei fogli stile</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('css/css4.html')">I<span class="style1">l selettore di classe</span></a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('css/css5.html')">Il selettore id</a><br>
        <span class="style1"><a href="#" onmouseup="underline(this)" onclick="getPage('css/css6.html')">Selettori contestuali</a></span><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('css/css7.html')">Pseudoclassi</a> <br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('css/css8.html')">Pseudoelementi</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('css/css9.html')">Fogli stile CSS (in cascata)</a><br>	<br>
    </li>
    <li>
        <strong>POSIZIONAMENTO CON GLI STILI</strong><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('position/pos1.html')">Il box model di una pagina</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('position/pos2.html')">Selettore di id</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('position/pos3.html')">Stili dei blocchi: bordi, dimensioni, padding, margin</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('position/pos3bis.html')">Posizionamento con gli elementi float</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('position/pos4.html')">Posizionamento absolute e relative</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('position/pos5.html')">Z-index</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('position/pos6.html')">Centrare orizzontalmente e verticalmente</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('position/pos7.html')">Creare una tabella con i div</a><br>	<br>
    </li>
    <li>
        <strong>ACCESSIBILITA'</strong><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('access/access1.html')">Accessibilità: concetti generali</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('access/access2.html')">Tipi di disabilità e linee guida per accessibilità</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('access/access3a.html')">Strumenti online per valutare l'accessibilità</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('access/access3b.html')">Problemi visivi</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('access/access4.html')">Il problema dei colori e del contrasto</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('access/access5.html')">Altre problematiche: udito, movimento, cognitive</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('access/access8.html')">Title e attributo lang</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('access/access9.html')">Accessibilità e immagini</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('access/access9a.html')">Gli header e i link </a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('access/access10.html')">Tabelle e form</a><br>
        <br>
    </li>
    <li>
        <strong>USABILITA'</strong><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('usab/usab1.html')">Usabilità: definizione generale</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('usab/usab2.html')">Usabilità e utente</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('usab/usab3.html')">Visibilità, comandi e feedback</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('usab/usab4.html')">I principi fondamentali dell'usabilità</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('usab/usab5.html')">Esempi negativi</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('usab/usab6.html')">Usabilità e accessibilità: di<span class="style1">fferenze</span></a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('usab/usab7.html')">Definire il target del sito</a> <br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('usab/usab8.html')">Gli errori da evitare</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('usab/usab9.html')">Progettare il sistema di navigazione</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('usab/usab10.html')">Tipologie di link</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('usab/usab11.html')">Sc<span class="style1">rivere per il web</span></a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('usab/usab12.html')">Affermare il marchio del sito</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('usab/usab13.html')">Pagine leggere</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('usab/usab14.html')"><span class="style1">Feedback degli utenti</span></a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('usab/usab15.html')">Effettuare un test</a><br><br>
    </li>
    <li>
        <strong>PAGINE WEB DINAMICHE CON I FOGLI STILE </strong><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('dinamiche/din1.html')"><span class="style1">Pagine dinamiche</span></a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('dinamiche/din2.html')">Menu dinamici con i fogli stile CSS</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('dinamiche/din2a.html')">Transizioni con i CSS</a>	<br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('dinamiche/din2b.html')">Trasformazioni 2D con i CSS</a>	<br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('dinamiche/din2c.html')">Animazioni con i CSS</a> <br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('dinamiche/din3.html')">I principi del responsive design</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('dinamiche/din4.html')">Breakpoint e media query</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('dinamiche/din5.html')">Un semplice esempio di responsive design</a><br><br>
    </li>
</ul>