<ul>
    <li>
        <strong>INTRODUZIONE </strong><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('intro/codice.html');">Il codice nascosto delle pagine web </a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('intro/strumenti.html')">Gli strumenti per scrivere una pagina</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('intro/pagina.html')">La nostra prima pagina</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('intro/rete.html')">Struttura della rete internet</a> <br><br>
    </li>
    <li>
        <strong>I PRIMI ELEMENTI DI HTML</strong><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('pagina/struttura.html')">Struttura di una pagina: tag, elementi, attributi </a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('pagina/validazione.html')">La dichiarazione DOCTYPE e la validazione</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('pagina/headbody.html')">Html, head e body, commenti</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('pagina/class.html')">Tipi di elementi e annidamento</a> <br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('pagina/special.html')">Charset e html entities</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('pagina/template.html')">Un template di pagina vuota</a><br><br>
    </li>
    <li>
        <strong>ELEMENTI LOGICI</strong> <br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('logici/ele.html')">Elementi logici e di visualizzazione</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('logici/p.html')">Paragrafi (&lt;p&gt;)</a> <br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('logici/h.html')">Intestazioni (&lt;h1&gt;,&lt;h2&gt;,&lt;h3&gt;...) </a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('logici/h2.html')">Altri elementi per il testo</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('logici/a.html')">Link (&lt;a&gt;)</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('logici/img.html')">Immagini (&lt;img&gt;)</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('logici/img2.html')">Multimedia (audio e video)</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('logici/strong.html')">Grassetto e corsivo (&lt;strong&gt;, &lt;em&gt;, &lt;b&gt;,&lt;i&gt; )</a> <br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('logici/liste.html')">Liste</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('logici/br.html')">Br e hr</a> <br><br>
    </li>
    <li>
        <strong>TABELLE</strong><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('tabelle/tab.html')">Creare una tabella</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('tabelle/tab1.html')">Il problema del bordo</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('tabelle/tab2.html')">L'attributo width</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('tabelle/tab3.html')">Colspan e rowspan</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('tabelle/tab4.html')">Tabelle annidate</a>               <br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('tabelle/tab5.html')">Raggruppare le righe: thead, tbody, tfoot</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('tabelle/tab6.html')">Tabelle e accessibilità</a> <br><br>
    </li>
    <li>
        <strong>FRAME E MAPPE IMMAGINE</strong><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('Frame/frame1.html')">Frame e frameset</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('Frame/frame2.html')">Frame inline</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('Frame/frame3.html')">Mappe immagine</a><br><br>
    </li>
    <li>
        <strong>FORM</strong><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('form/form0.html')">Uso dei form in HTML </a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('form/form.html')">Form per l'invio dati utente via mail </a>	<br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('form/form1.html')">Form e tabelle</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('form/form2.html')">L'elemento form</a> <br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('form/form3.html')">L'elemento input per l'inserimento dati</a> <br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('form/form4.html')">L'elemento input per i pulsanti</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('form/form5.html')">Textarea e select option</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('form/form5b.html')">Elaborazione form in PHP (invio mail)</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('form/form5c.html')">Convalida dati inseriti nel form (javascript)</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('form/form6.html')">Form e accessibilità</a><br><br>
    </li>
    <li>
        <strong>STILI</strong><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('stili/stili1.html')">Evoluzione HTML ed elementi deprecati</a> <br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('stili/stili2.html')">Attributo style, tag span e div</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('stili/stili3.html')">Stili per i caratteri (font)</a>               <br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('stili/stili4.html')">Stili per i colori</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('stili/stili5.html')">Stili per l'immagine di sfondo</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('stili/stili6.html')">Stili per il testo</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('stili/stili7.html')">Stili per le dimensioni (pagine liquide e solide)</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('stili/stili8.html')">Stili per i bordi</a> <br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('stili/stili9.html')">Stili per le liste (ol e ul<span class="style1">)</span></a><br><br>
    </li>
</ul>