<ul>
    <li>
        <strong>INTRODUZIONE </strong><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('Generali/def0.html')">Nozioni generali   </a> <br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('Generali/def1.html')">Un semplice esempio di script</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('Generali/def2.html')">Interfaccia e codice</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('Generali/def3.html')">Eventi</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('Generali/def4.html')">Oggetti, elementi e attributi</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('Generali/def5.html')">Apici singoli e doppi</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('Generali/def6.html')">Modificare gli stili e innerHTML</a> <br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('Generali/def7.html')">Usare il form come interfaccia: un semplice gioco</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('Generali/def8.html')">Gli altri elementi del form</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('Generali/def9.html')">Debugging: trovare e correggere gli errori</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('Generali/def10.html')">Dove può stare il codice JS in una pagina HTML</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('Generali/def11.html')">La proprietà event.target</a><a href="#" onmouseup="underline(this)" onclick="getPage('Generali/def10.html')"><br> </a><br>
    </li>
    <li>
        <strong>VARIABILI E ASSEGNAZIONI</strong><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('istruzioni/istru1.html')">Istruzioni e commenti</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('istruzioni/istru2.html')">Variabili</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('istruzioni/istru3.html')">Dichiarare le variabili</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('istruzioni/istru4.html')">Assegnazioni</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('istruzioni/istru5.html')">Operatori aritmetici</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('istruzioni/istru6.html')">Conversioni di tipo e operazioni sulle stringhe</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('istruzioni/istru7.html')">L'operatore typeof</a><br><br>
    </li>
    <li>
        <strong>SELEZIONI E CICLI</strong><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('istruzioni/istru8.html')">Selezioni (if)</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('istruzioni/istru9.html')">Operatori logici e di confronto</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('istruzioni/istru10.html')">If ... else</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('istruzioni/istru11.html')">Switch case e operatore ternario</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('istruzioni/istru12.html')">Cicli for, while, do while e istruzione break</a><br><br>
    </li>
    <li>
        <strong>FUNZIONI </strong> <br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('funz/funz1.html')">A cosa servono le funzioni</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('funz/funz2.html')">Parametri e valore di ritorno </a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('funz/funz2a.html')">Chiamata di una funzione</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('funz/funz3.html')">Riepilogo sui tipi di funzioni</a>	<br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('funz/funz4.html')">Un ultimo esempio e la parola chiave this</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('funz/funz5.html')">Convalida dei dati inseriti in un form</a> <br><br>
    </li>
    <li>
        <strong>ABC DELLA PROGRAMMAZIONE A OGGETTI</strong><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('obj/obj0.html')">Definizione di oggetto</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('obj/obj1.html')">Creare un oggetto</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('obj/obj2.html')">Gerarchie di oggetti (oggetti annidati)<span class="style1"> </span></a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('obj/obj2b.html')">Rappresentazione ad albero</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('obj/obj3.html')">Usare i costruttori e le classi</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('obj/obj4.html')">Un archivio anagrafico con gli oggetti</a><br><br>
    </li>
    <li>
        <strong>OGGETTI PREDEFINITI DI JAVASCRIPT<br></strong>
        <a href="#" onmouseup="underline(this)" onclick="getPage('stringhe/str0.html')">Oggetti predefiniti in Javascript</a><br><br><strong>Le stringhe di caratteri</strong><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('stringhe/str1.html')"><span class="style1">Le stringhe di caratteri</span></a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('stringhe/str2.html')">I metodi delle stringhe</a><br><strong><br>Le date</strong><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('date/date1.html')">Le date</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('date/date2.html')">C<span class="style1">alcoli con le date</span></a><br><strong><br>I vettori o array</strong><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('array/array1.html')">Definizioni generali: elementi e indice</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('array/array2.html')">Proprietà length</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('array/array3.html')">A cosa servono gli array </a> <br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('array/array4a.html')">Array associativi</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('array/array4.html')">Metodi per l'oggetto array</a> <br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('array/array5.html')">Array e funzioni</a><br><strong><br>Le funzioni e le costanti matematiche</strong><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('math/math1.html')">Math: proprietà e metodi</a><br>      <br>
    </li>
    <li>
        <strong>BROWSER OBJECT MAP (BOM)</strong><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('bom/bom1.html')">API (Application Programming Interface)</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('bom/bom2.html')">Browser Object Module (BOM)</a> <br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('bom/bom3.html')">L'oggetto window</a> <br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('bom/bom4.html')">Input/output: alert, confirm, prompt</a> <br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('bom/bom5.html')">Apertura di una finestra (window.open)</a> <br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('bom/bom6.html')">Scrittura al volo (document.write)</a> <br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('bom/bom7.html')">Scrittura su una finestra secondaria</a> <br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('bom/bom8.html')">La temporizzazione: setInterval e clearInterval</a> <br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('bom/bom9.html')">La temporizzazione: setTimeout e clearTimeout</a> <br><br>
    </li>
    <li>
        <strong>DOCUMENT OBJECT MAP (DOM)<br></strong>
        <a href="#" onmouseup="underline(this)" onclick="getPage('dom/dom1.html')">Il Document Object Module (DOM)</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('dom/dom1a.html')">Rendering di una pagina web</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('dom/dom2.html')">L'oggetto document: proprietà e metodi</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('dom/dom3.html')">Il legacy DOM</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('dom/dom4.html')">Accedere direttamente agli elementi</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('dom/dom5.html')">Modificare gli elementi: attributi, stili, contenuto</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('dom/dom6.html')">Spostarsi attraverso il DOM</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('dom/dom7.html')">Modificare dinamicamente il DOM</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('dom/dom8.html')">Creare elementi e attributi</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('dom/dom9.html')">Aggiungere ed eliminare un nodo</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('dom/dom10.html')">Creare una struttura e i nodi di testo</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('dom/dom11.html')">Event listener</a><br><br>
    </li>
</ul>