<ul>
    <li>
        <strong>Il framework jQUERY</strong><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('jquery/jquery1.html')">I framework e jquery</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('jquery/jquery2.html')">Anatomia di un'istruzione jQuery</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('jquery/jquery3.html')">L'oggetto $()</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('jquery/jquery4.html')">Ottenere jQuery</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('jquery/jquery5.html')">Eseguire codice all'avvio: ready</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('jquery/jquery5a.html')">Funzioni anonime</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('jquery/jquery6.html')">S<span class="style1">elezionare gli elementi</span></a> <br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('jquery/jquery6a.html')">Filtrare</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('jquery/jquery7.html')">Gestori di eventi</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('jquery/jquery8.html')">Lavorare con gli attributi: attr</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('jquery/jquery9.html')">Lavorare con gli stili: css</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('jquery/jquery10.html')">Aggiungere o eliminare una classe</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('jquery/jquery11.html')">Modificare il contenuto: html e text</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('jquery/jquery12.html')">hide, show, toggle: speed, easing, callback</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('jquery/jquery13.html')">fadeOut, fadeIn e fadeToggle</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('jquery/jquery14.html')">Animate: un'introduzione con esempi</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('jquery/jquery15.html')">La sintassi di animate</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('jquery/jquery15a.html')">Speed, easing e funzione di callback</a><br>
        <a href="#" onmouseup="underline(this)" onclick="getPage('jquery/jquery16.html')">Modificare dinamicamente il DOM</a><br><br><br>
    </li>
</ul>