<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it">
<head>
<title>Programmiamo</title>
<meta name="keywords" content="programmiamo, programmi, linguaggi, javascript, visual basic"/>
<meta name="description" content="linguaggi di programmazione"/>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
<link href=" ../css/principale.css" rel="stylesheet" type="text/css"/>
<link href=" ../css/classi.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <div id="contenitore2">
    <!-- Contneuti -->
	 <div class="titolo">Line break &lt;br&gt;</div>
	 <p>&nbsp;</p>
	
	 
	 <table border="1" width="100%">
       <tbody>
         <tr>
           <td><strong>Descrizione</strong></td>
           <td>determina un'interruzione di riga </td>
         </tr>
         <tr>
           <td><strong>Tipo</strong></td>
           <td>elemento vuoto inline </td>
         </tr>
       </tbody>
     </table>
     
     <p>L'elemento &lt;br&gt; serve per produrre un'andata a capo in un testo. Ecco un esempio: </p>
     <div class="code">
       <p> &lt;p&gt; La donzelletta vien dalla campagna,&lt;br&gt;  In sul calar del sole,&lt;br&gt;  Col suo fascio dell'erba; e reca in mano&lt;br&gt;  Un mazzolin di rose e di viole,&lt;br&gt;  Onde, siccome suole,&lt;br&gt;  Ornare ella si appresta&lt;br&gt; Dimani, al d&igrave; di festa, il petto e il crine.&lt;/p&gt;</p>
    </div>
     <p>Ed ecco la visualizzazione prodotta dal browser:</p>
<p style="border-style:inset"> La donzelletta vien dalla campagna,<br /> In sul calar del sole,<br /> Col suo fascio dell'erba; e reca in mano<br /> Un mazzolin di rose e di viole,<br /> Onde, siccome suole,<br /> Ornare ella si appresta<br /> Dimani, al d&eacute; di festa, il petto e il crine.</p>
     <p>Si noti che eventuali andate a capo introdotte all'interno del codice html non hanno invece nessun effetto sul browser. Cos&igrave; per esempio: </p>
     <div class="code">
       <p> &lt;p&gt; Si sta<br />
       come d'autunno<br />
         sugli alberi<br />
         le foglie &lt;/p&gt;
</p>
     </div>
     <p>Verrebbe visualizzato nel seguente modo </p>
<p style="border-style:inset"> Si sta
come d'autunno
sugli alberi
le foglie </p>
<p>senza nessuna andata a capo.</p>
<p>&nbsp;</p>
<div class="titolo">Horizontal Rule &lt;hr&gt;</div>
<p>&nbsp;</p>
<table border="1" width="100%">
  <tbody>
    <tr>
      <td><strong>Descrizione</strong></td>
      <td>produce una riga orizzontale sullo schermo  </td>
    </tr>
    <tr>
      <td><strong>Tipo</strong></td>
      <td>elemento vuoto inline </td>
    </tr>
  </tbody>
</table>
<p>L'elemento &lt;hr&gt; serve per introdurre una riga orizzontale di separazione. Ecco un esempio:</p>
<div class="code">
  <p> &lt;p&gt; Primo paragrafo &lt;/p&gt;<br />
    &lt;hr&gt;<br />
    &lt;p&gt; Secondo paragrafo &lt;/p&gt;
  </p>
</div>
<!-- Fine Contenuti -->
</body>
</html>



