<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it">
<head>
<title>Programmiamo</title>
<meta name="keywords" content="programmiamo, programmi, linguaggi, javascript, visual basic"/>
<meta name="description" content="linguaggi di programmazione"/>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
<link href=" ../css/principale.css" rel="stylesheet" type="text/css"/>
<link href=" ../css/classi.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <div id="contenitore2">
    <!-- Contneuti -->
	 <div class="titolo">Intestazioni (&lt;h1&gt;, &lt;h2&gt;, &lt;h3&gt;... ) </div>
	 <p>
	 <table border="1" width="100%">
       <tbody>
         <tr>
           <td><strong>Descrizione</strong></td>
           <td>identifica un intestazione (o titolo) di diverso livello </td>
         </tr>
         <tr>
           <td><strong>Tipo</strong></td>
           <td>elemento contenitore di blocco </td>
         </tr>
       </tbody>
     </table></p>
     
     <p>Un documento, soprattutto se lungo, potrebbe risultare difficile da leggere. Le pagine Web dovrebbero essere interrotte da opportune intestazioni (o titoli) che dividono il testo in sezioni pi&ugrave; facili da gestire. Il linguaggio HTML prevede sei livelli di intestazioni: da &lt;h1&gt;...&lt;/h1&gt; a &lt;h6&gt;...&lt;/h6&gt;.</p>
     <p>Il modo in cui questi titoli sono rappresentati dipende dal browser utilizzato per leggere il documento. Alcuni browser visualizzano i titoli con dimensioni e font (tipi di caratteri) differenti; altri visualizzano i titoli in grassetto, sottolineandoli o cambiandone i colori. Di per s&eacute; le intestazioni non forniscono informazioni di visualizzazione, ma attribuiscono solo un significato &quot;logico&quot; a una porzione di testo (cos&igrave; per esempio &lt;h1&gt; ha maggiore importanza di &lt;h2&gt; e cos&igrave; via, indipendentemente dal modo con cui verranno visualizzati). </p>
     <p>Si consideri il seguente esempio:</p>
     <div class="code">
       <p>&lt;h1&gt;Titolo 1&lt;/h1&gt;<br />
         &lt;h2&gt;Titolo 2&lt;/h2&gt;<br />
         &lt;h3&gt;Titolo 3&lt;/h3&gt;<br />
       &lt;h4&gt;Titolo 4  &lt;/h4&gt;</p>
    </div>
     <p>Ecco come potrebbe essere visualizzato: </p>
     <div align="center">
<table width="90%" border="1">
  <tr>
    <td><h1>Titolo 1</h1>
<h2>Titolo 2</h2>
<h3>Titolo 3</h3>
<h4>Titolo 4  </h4></td>
  </tr>
</table>
</div>
<p>&nbsp; &nbsp;</p>
</div>
    <!-- Fine Contenuti -->
</body>
</html>



