<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it">
<head>
<title>Programmiamo</title>
<meta name="keywords" content="programmiamo, programmi, linguaggi, javascript, visual basic"/>
<meta name="description" content="linguaggi di programmazione"/>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
<link href=" ../css/principale.css" rel="stylesheet" type="text/css"/>
<link href=" ../css/classi.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <div id="contenitore2">  
    <!-- Contneuti -->
	 <div class="titolo">Strong &lt;strong&gt;</div>
	 <p>&nbsp;</p>
	
	 
	 <table border="1" width="100%">
       <tbody>
         <tr>
           <td><strong>Descrizione</strong></td>
           <td>mette in evidenza una porzione di testo (solitamente usando il grassetto) </td>
         </tr>
         <tr>
           <td><strong>Tipo</strong></td>
           <td>elemento contenitore inline </td>
         </tr>
       </tbody>
     </table>
     
     <p>L'elemento strong consente di evidenziare una porzione di testo. Tale effetto viene solitamente reso dai browser grafici per mezzo del grassetto. Per esempio:</p>
     <div class="code">
       <p>&lt;p&gt; Questa &egrave; una &lt;strong&gt; informazione molto importante &lt;/strong&gt; &lt;/p&gt;</p>
     </div>
     <p>viene visualizzato nel seguente modo:</p>
	 <p align="center"> Questa &eacute; una <strong> informazione molto importante </strong> </p>
     <p>In HTML 5 l'elemento strong viene usato per indicare <em>importance</em>, cio&egrave; un testo che deve essere messo in rilievo perch&eacute; particolarmente importante. </p>
     <p>&nbsp; </p>
     <div class="titolo">Em &lt;em&gt;</div>
     <p>&nbsp;</p>
     <table border="1" width="100%">
       <tbody>
         <tr>
           <td><strong>Descrizione</strong></td>
           <td>mette in evidenza una porzione di testo (solitamente usando il corsivo) </td>
         </tr>
         <tr>
           <td><strong>Tipo</strong></td>
           <td>elemento contenitore inline </td>
         </tr>
       </tbody>
     </table>
     <p>L'elemento em consente di evidenziare una porzione di testo. Tale effetto viene solitamente reso dai browser grafici per mezzo del corsivo. Per esempio:</p>
     <div class="code">
       <p>&lt;p&gt; Questa &egrave; una &lt;em&gt; informazione molto importante &lt;/em&gt; &lt;/p&gt;</p>
     </div>
     <p>viene visualizzato nel seguente modo:</p>
     <p align="center"> Questa &egrave; una <em> informazione molto importante </em> </p>
     <p>In HTML 5 l'elemento em dovrebbe essere usato per indicare <em>stress emphasis</em>, cio&egrave; per segnalare un cambiamento dell'intonazione di voce per marcare il diverso ruolo degli elementi di una frase. </p>
     <p>Si consideri per esempio la frase:</p>
     <p align="center">Ho guardato il film ieri sera</p>
     <p>Essa pu&ograve; essere pronunciata con due diverse intonazioni, ovvero</p>
     <p align="center">Ho guardato <em>il film</em> ieri sera<br />
     Ho guardato il film<em> ieri sera</em></p>
     <p>Nel primo caso si mette in rilievo il fatto che ho guardato il film (cio&egrave; quello e non, per esempio, un'altra trasmissione in tv). Nel secondo caso invece, l'enfasi &egrave; su ieri sera (cio&egrave; l'ho guardato ieri sera e non, per esempio, la settimana scorsa). Questo &egrave; esattamente il modo con cui dovrebbe essere usato l'elemento em.  </p>
     <p>&nbsp; </p>
     <div class="titolo">Bold &lt;b&gt;</div>
     <p>L'elemento &lt;b&gt; serviva in origine per indicare il grassetto e, in quanto tale, era stato deprecato in HTML 4.0. Il suo uso &egrave; invece stato recuperato in HTML 5 con una funzione semantica precisa: esso serve per segnalare una porzione di testo <em>stilisticamente diversa del resto</em>, senza che questo implichi nessuna maggiore importanza.</p>
     <p>Un esempio di utilizzo &egrave; il seguente:</p>
     <div class="code">
       <p>&lt;p&gt; Alessandro Manzoni, &lt;b&gt;&quot;I Promessi Sposi&quot;&lt;/b&gt; &lt;/p&gt;</p>
     </div>
     <p>che produce la seguente visualizzazione  </p>
<p align="center"> Alessandro Manzoni, <b>&quot;I Promessi Sposi&quot;</b></p>
<p>Si osservi come, dal punto di vista visivo, non ci sia differenza fra &lt;strong&gt; e &lt;b&gt; (vengono entrambi visualizzati col grassetto). Tuttavia mentre &lt;strong&gt; ha un significato semantico di &quot;maggiore importanza&quot;, &lt;b&gt; non ha questo significato.</p>
<p>In ogni caso in HTML 5 si raccomanda di usare &lt;b&gt; solo per i casi in cui sia effettivamente indicato, mentre si raccomanda l'uso del grassetto con gli stili in tutti gli altri casi. </p>
<div class="titolo">Italic &lt;i&gt;</div>
<p>Questo elemento serviva in origine per indicare il corsivo (italic) ed era deprecato in HTML 4.0. In HTML 5 &egrave; possibile usarlo per segnalare un termine tecnico o una voce straniera, come per esempio:</p>
<div class="code">
  <p>&lt;p&gt; In inglese ascensore si dice &lt;i&gt;lift&lt;/i&gt; &lt;/p&gt;</p>
</div>
<p>che naturalmente viene visualizzato in corsivo:</p>
<p align="center">In inglese ascensore si dice <em>lift</em></p>
<p>Anche in questo caso, &egrave; raccomandato l'uso solo nei casi indicati e non per segnalare il corsivo.</p>
<p>&nbsp;</p>
</div>
    <!-- Fine Contenuti -->
</body>
</html>



