<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it">
<head>
<title>Programmiamo</title>
<meta name="keywords" content="programmiamo, programmi, linguaggi, javascript, visual basic"/>
<meta name="description" content="linguaggi di programmazione"/>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
<link href=" ../css/principale.css" rel="stylesheet" type="text/css"/>
<link href=" ../css/classi.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <div id="contenitore2">
    <!-- Contneuti -->
	 <div class="titolo">Template di pagina vuota</div>
     <p>La parola inglese <strong>template</strong> significa letteralmente <em>
		sagoma</em> o <em>calco</em> e viene usata in informatica per indicare 
		un modello di riferimento per la generazione di documenti. In pratica il 
		template &eacute; una struttura standard, che prevede la disposizione dei 
		diversi elementi del documento, ma che lascia in bianco i contenuti del 
		documento stesso. E' come un modulo parzialmente precompilato, che ci 
		evita la fatica di dover ogni volta riscrivere le stesse cose daccapo.</p>
	<p>Un template html &eacute; dunque un modello di pagina, strutturata 
	correttamente, che pu&eacute; essere utilizzata come &quot;calco&quot; per la generazione 
	veloce di nuovi documenti (basta fare copia e incolla del template su una 
	nuova pagina).
    </p>
	<p>In rete si possono trovare template molto complessi ed elaborati, ma 
	quelli che vi voglio proporre qui &eacute; molto semplice e adatto ai nostri scopi. 
	Qui sotto trovate il codice html che potete copiare e incollare per creare 
	una nuova pagina vuota:</p>
        <div class="code">
          &lt;!DOCTYPE html&gt; <br />
			&lt;html lang=&quot;it&quot;&gt; <br />
			<br />
			&lt;head&gt; <br />
			&lt;meta charset=&quot;utf-8&quot;&gt; <br />
			&lt;title&gt;Qui 
bisogna mettere il titolo&lt;/title&gt; <br />
			&lt;!-- Qui bisogna mettere il foglio stile 
esterno --&gt; <br />
			&lt;link rel=&quot;stylesheet&quot; href=&quot;style.css&quot;&gt; 
			<br />
			&lt;style&gt; <br />
			/* 
		  Qui bisogna mettere gli stili incorporati */<br />
			&lt;/style&gt; <br />
			&lt;script&gt; // Qui bisogna 
aggiungere l&#39;eventuale codice JS &lt;/script&gt; <br />
			&lt;/head&gt; <br />
			<br />
			&lt;body&gt; &lt;!-- Qui bisogna 
mettere il contenuto della pagina --&gt; <br />
			&lt;h1&gt;Header principale della pagina&lt;/h1&gt; 
<br />
&lt;p&gt;Paragrafo&lt;/p&gt; <br />
			&lt;/body&gt; <br />
			<br />
			&lt;/html&gt; 
        </div>
	<p>In questo modello di pagina ci sono alcune cose che gi&eacute; conosciamo e 
	altre che incontreremo solo pi&eacute; avanti (come l'elemento link per il 
	collegamento a un <a href=" css/css3.html">foglio stile esterno</a>).</p>
	<p>Si noti che alcuni &quot;campi&quot; vanno riempiti col 
	proprio contenuto diverso a seconda delle pagine. Per esempio in &lt;title&gt;...&lt;/title&gt; va inserito il titolo 
	della pagina e in &lt;body&gt;...&lt;/body&gt; andremo a scrivere il contenuto vero e 
	proprio della pagina stessa).</p>
	<p>&nbsp;</p>
</div>
    <!-- Fine Contenuti -->
</body>
</html>



