<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it">
<head>
<title>Programmiamo</title>
<meta name="keywords" content="programmiamo, programmi, linguaggi, javascript, visual basic"/>
<meta name="description" content="linguaggi di programmazione"/>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
<link href=" ../css/principale.css" rel="stylesheet" type="text/css"/>
<link href=" ../css/classi.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <div id="contenitore2" style="left: 0px; top: 0px">
    <!-- Contneuti -->

	<div class="titolo">L'oggetto $()</div>

	<p>Tutto il linguaggio jQuery ruota attorno a un particolare oggetto, usato 
	all'inizio di ogni istruzione, che si chiama <strong>$()</strong>. Questo oggetto &eacute; di centrale importanza per il funzionamento del codice jQuery e 
	ne approfondiremo ulteriormente l'uso nelle prossime lezioni.</p>
	<p>In realt&eacute; <em>$( ) </em>&eacute; un alias, cio&eacute; un nome sostitutivo usato al 
	posto del nome completo che sarebbe jQuery( ). Questo significa per esempio 
	che</p>
        <div class="code">
          $(&quot;#omino&quot;).attr(&quot;src&quot;,&quot;../img/omino2.jpg&quot;)</div>
	<p>scritto per intero (senza usare l'alias) diventa:</p>
        <div class="code">
          jQuery(&quot;#omino&quot;).attr(&quot;src&quot;,&quot;../img/omino2.jpg&quot;)</div>
	<p>Entrambe le scritture sono equivalenti e possono essere usate 
	indifferentemente all'interno della pagina.</p>
	<p>La maggior parte dei programmatori preferisce la notazione abbreviata <em>
	$( ) </em>e questa &eacute; anche la scelta che seguiremo noi nel resto della 
	nostra guida.</p>
	<p>La notazione estesa <em>jQuery</em> &eacute; invece preferibile quando si 
	possano verificare potenziali conflitti di nome con altre librerie che fanno 
	uso del simbolo $. In questi casi l'uso di <em>jQuery( )</em> impedisce ogni 
	possibile confusione</p>
	<p>&nbsp;</p>
</div>
    <!-- Fine Contenuti -->
</body>
</html>



