<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it">
<head>
<title>Programmiamo</title>
<meta name="keywords" content="programmiamo, programmi, linguaggi, javascript, visual basic"/>
<meta name="description" content="linguaggi di programmazione"/>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
<link href=" ../css/principale.css" rel="stylesheet" type="text/css"/>
<link href=" ../css/classi.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <div id="contenitore2">
    <!-- Contneuti -->
	 <div class="titolo">Evoluzione del linguaggio HTML </div>
	 <p>Negli anni il linguaggio HTML si &egrave; evoluto e ampliato parallelamente all'evoluzione della rete internet. Mentre originariamente HTML era nato per scopi limitati (condivisione di documenti prevalentemente scientifici in una cerchia ristretta di utenti), con la diffusione della rete esso &egrave; diventato il linguaggio di progettazione di siti diversissimi fra loro per forma, contenuti e pubblico di riferimento.</p>
	 <p>L'evoluzione dell'HTML (che inizialmente aveva solo 12 tag diversi e che col tempo &egrave; arrivato ad averne centinaia!) ha comportato una serie di problemi che proviamo ad elencare:</p>
	 <p><strong>1) Avvento dei browser grafici e incompatibilit&eacute; fra browser 
		diversi</strong></p>
	 <p>Nei primi anni del web gli unici browser disponibili erano di tipo &quot;testuale&quot;, cio&egrave; in sostanza erano in grado di visualizzare solo testi. In seguito, con l'avvento prima di Netscape agli inizi degli anni '90 e successivamente di Internet Explorer, si entra nell'era dei browser grafici, i quali consentono la gestione di immagini, colori, suoni e altro.</p>
	 <p>La spietata concorrenza fra i due browser principali dell'epoca, Netscape ed Internet Explorer, ha fatto s&igrave; che, soprattutto nei primi anni, entrambi i contendenti introducessero continui &quot;miglioramenti&quot; e nuove &quot;funzionalit&agrave;&quot; al linguaggio HTML, con l'invenzione di nuovi tag per gli scopi pi&ugrave; vari. Spesso per&ograve; tali nuovi tag potevano essere interpretati e visualizzati correttamente solo dal browser per il quale erano stati creati e non dagli altri browser.</p>
	 <p>In questi anni di crescita tumultuosa e disordinata della rete, si diffondono i siti che annunciano in prima pagina cose tipo &quot;Per visualizzare correttamente questo sito occorre usare il seguente browser&quot;. Chiaramente il linguaggio HTML si era decisamente allontanato dagli scopi originari, cio&egrave; quelli di fornire un linguaggio semplice e di uso universale per la costruzione di ipertesti.</p>
	 <p><strong>2) Si perde la distinzione fra semantica e presentazione</strong></p>
	 <p>La maggior parte dei nuovi tag serviva per specificare il modo con cui il documento deve essere visualizzato. Per esempio il tag &lt;blink&gt;, introdotto inizialmente da Netscape, serviva per realizzare scritte lampeggianti.</p>
	 <p>In tale modo per&ograve; si andava perdendo la 
		<a href=" logici/ele.html">distinzione fra semantica/logica</a> (specificata tramite i tag HTML) e presentazione (la quale invece dovrebbe essere effettuata dal browser) sulla quale si basava l'HTML originario.</p>
	 <p><strong>3) Mentalit&agrave; dei primi web-publisher </strong></p>
	 <p>Il web-publisher (o web-designer) &egrave; colui che si occupa della progettazione di un sito internet, con particolare riferimento agli aspetti grafici e di visualizzazione del sito stesso. I primi web-publisher provenivano dal mondo dell'editoria tradizionale ed erano pertanto abituati a lavorare con libri, riviste, giornali e pubblicazioni su carta in generale. Trasferendosi nel modo di internet questi primi progettisti si erano portati dietro anche la mentalit&agrave; e le abitudini del loro lavoro precedente.</p>
	 <p>Tuttavia realizzare un sito internet &egrave; molto diverso dal realizzare una rivista stampata. La differenza principale &egrave; dovuta al fatto che, mentre il publisher tradizionale pu&ograve; controllare tutti gli aspetti del prodotto finale (tipo di carta, colori usati, formato immagini, dimensioni pagina eccetera), tale controllo fine &egrave; impossibile in generale per chi lavora in internet. Infatti come una data pagina verr&agrave; visualizzata dipende in ultima analisi dal computer dell'utente e in particolare dal tipo di browser installato e dal tipo di schermo (dimensioni, risoluzione, colori). La stessa pagina pu&ograve; dunque essere visualizzata anche in modo completamente differente per esempio su uno schermo da 8 pollici monocromatico o su uno da 19 pollici a colori! </p>
	 <p>&nbsp; </p>
</div>
    <!-- Fine Contenuti -->
</body>
</html>



