<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
<title>Programmiamo</title>
<meta name="keywords" content="programmiamo, programmi, linguaggi, javascript, visual basic"/>
<meta name="description" content="linguaggi di programmazione"/>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
<link href=" ../css/principale.css" rel="stylesheet" type="text/css"/>
<link href=" ../css/classi.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <div id="contenitore2">
    <!-- Contneuti -->
	 <div class="titolo">Colori in HTML</div>
	 <p>Un colore &egrave; pu&ograve; essere specificato tramite una parola riservata o con un codice RGB (Red Green Blue - Rosso, Verde, Blu).</p>
	 <p>Le 16 parole riservate standard sono: aqua, black, blue, fuchsia, gray, green, lime, maroon, navy, olive, purple, red, silver, teal, white, e yellow.</p>
	 <p>I valori RGB possono essere forniti attraverso quattro sintassi:</p>
	 <ul>
	   <li><strong>#rrggbb</strong>: ad esempio #CC6600</li>
	   <li><strong>#rgb</strong>: ad esempio #C60 (#abc = #aabbcc)</li>
	   <li><strong>rgb(r,g,b)</strong>: dove r,g,b possono variare da 0 a 255. Ad esempio rgb(204,102,0)</li>
	   <li><strong>rgb(r%,g%,b%)</strong>: dove r,g,b possono variare da 0.0 a 100.0. Ad esempio rgb(80%,40%,0)</li>
    </ul>
	 <p>I valori #CC6600, #C60, rgb(204,102,0), rgb(80%,40%,0) specificano tutti lo stesso colore (arancione scuro).</p>
	 <p>Ci sono molti siti web che consentono di selezionare rapidamente il 
		codice corrispondente a un dato colore, come per esempio
		<a target="_blank" href="http://html-color-codes.info/">HTML Color Codes</a>.</p>
	 <div class="titolo">Color</div>
	 <p> <strong>sintassi:</strong>&nbsp;color: &lt;colore&gt; </p>
	 <p>Serve per attribuire un colore al testo. Esempio: </p>
	<div class="code">
       &lt;p style=&quot;color:blue&quot;&gt; Testo blu &lt;/p&gt;</div>
	 <p>che produce la seguente visualizzazione: </p>
<p align="center" style="color:blue"> Testo blu </p>
<div class="titolo">Background-color</div>
<p> <strong>sintassi:</strong>&nbsp;background-color: &lt;colore&gt; </p>
<p>Permette di selezionare il colore di sfondo. Esempio:</p>
<div class="code">
  &lt;p style=&quot;color:white; background-color:black;&quot;&gt; Testo bianco su sfondo nero &lt;/p&gt;</div>
<p>che viene visualizzato cos&igrave;:</p>
<p style="color:white; background-color:black;"> Testo bianco su sfondo nero </p><p>&nbsp;
	</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
</div>
    <!-- Fine Contenuti -->
</body>
</html>



