<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it">
<head>
<title>Programmiamo</title>
<meta name="keywords" content="programmiamo, programmi, linguaggi, javascript, visual basic"/>
<meta name="description" content="linguaggi di programmazione"/>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
<link href=" ../css/principale.css" rel="stylesheet" type="text/css"/>
<link href=" ../css/classi.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <div id="contenitore2">
    <!-- Contneuti -->
	 <div class="titolo">Text-decoration</div>
	 <p> <strong>sintassi:</strong>&nbsp;text-decoration:   none | underline | overline | line-through | initial | inherit  </p>
	 <p>Serve per aggiungere effetti decorativi al testo. Esempio:</p>
	 <div class="code">
       &lt;p&gt; &lt;span style=&quot;text-decoration:underline&quot;&gt;Sotto&lt;/span&gt; &lt;span style=&quot;text-decoration:underline&quot;&gt; sotto &lt;/span&gt; &lt;span style=&quot;text-decoration:line-through&quot;&gt; in mezzo &lt;/span&gt; &lt;/p&gt;</div>
	 <p>che viene visualizzato cos&igrave;:</p>
<p align="center"> <span style="text-decoration:underline">Sotto</span> <span style="text-decoration:underline"> sotto </span> <span style="text-decoration:line-through"> in mezzo </span> </p>
	 <p>Il valore <em>none</em> &egrave; particolarmente utile per eliminare l'effetto sottolineatura sui link. Per esempio:</p>
	 <div class="code">
       &lt;a href=&quot;testo.html&quot;&gt; Link normale &lt;/a&gt; e &lt;a href=&quot;testo.html&quot; style=&quot;text-decoration:none&quot;&gt; Link senza sottolineatura &lt;/a&gt; 
    </div>
	 <p>che produce la seguente visualizzazione:</p>
     <div align="center"><a href="stili6.html"> Link normale </a> e <a href="stili6.html" style="text-decoration:none"> Link senza sottolineatura </a> 
	 </div>
     <p>&nbsp;</p>
	 <div class="titolo">Text-align</div>
	 <p> <strong>sintassi:</strong>&nbsp;text-align:   left | right | center | justify   </p>
	 <p>Serve per allineare il contenuto di un elemento contenitore (es. paragrafo, cella di una tabella, div). Non allinea solo il testo, ma anche le immagini, le tabelle e qualsiasi cosa si trovi dentro l'elemento. Esempio: </p>
	 <div class="code">
       &lt;p style=&quot;text-align:right&quot;&gt; Testo allineato a destra &lt;/p&gt;</div>
	 <p>che produce la seguente visualizzazione: </p>
<p style="text-align:right"> Testo allineato a destra </p>
<p>&nbsp;</p>
</div>
    <!-- Fine Contenuti -->
</body>
</html>



