<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it">
<head>
<title>Programmiamo</title>
<meta name="keywords" content="programmiamo, programmi, linguaggi, javascript, visual basic"/>
<meta name="description" content="linguaggi di programmazione"/>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
<link href=" ../css/principale.css" rel="stylesheet" type="text/css"/>
<link href=" ../css/classi.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <div id="contenitore2">
    <!-- Contneuti -->

	

        <div class="titolo"> Il tag input per i pulsanti </div>
        <p>Mediante il tag input si possono anche realizzare i <strong>pulsanti</strong> (o bottoni) mediante i quali l'utente pu&ograve; decidere cosa fare del contenuto del form. Il tipo di pulsante dipende dall'attributo type del tag. </p>
        <div class="titolo">Submit</div>
        <p>In questo modo viene realizzato un pulsante di invio. Esempio:</p>
        <div class="code">
          &lt;input type=&quot;submit&quot; value=&quot;Invia&quot;&gt;    </div>
        <p>visualizzato nel seguente modo:</p>
        <form><input type="submit" value="Invia" /></form>

<p>L'attributo <strong>value</strong> permette di specificare la scritta che dev'essere visualizzata sul pulsante.</p>
<p>In un form in generale il pulsante submit &egrave; unico. Cliccando sul tale pulsante viene eseguita l'azione specificata nell'attributo <strong>action</strong> del form (esempio, se action=&quot;mailto:pinco.pallino@libero.it&quot;, premendo sul pulsante il contenuto del form viene spedito all'indirizzo mail indicato).</p>
<p></p>
<div class="titolo">Reset</div>
<p>In questo modo viene realizzato un pulsante di reset, per azzerare i dati contenuti nel form. Esempio:</p>
<div class="code"> &lt;input type=&quot;reset&quot; value=&quot;Azzera&quot;&gt; </div>
<p>visualizzato nel seguente modo:</p>
<form>
<input type="reset" value="Azzera" /> </form>
<p>L'attributo <strong>value</strong> permette di specificare la scritta che dev'essere visualizzata sul pulsante.</p>
<p>Cliccando sul pulsante reset il contenuto del form (se gi&agrave; compilato) viene azzerato.</p>
<p>  </p>
<div class="titolo">Button</div>
<p>In questo modo viene realizzato un pulsante generico. Esempio:</p>
<div class="code"> &lt;input type=&quot;button&quot; value=&quot;Clicca qui&quot;&gt; </div>
<p>visualizzato nel seguente modo:</p>
<form>
<input type="button" value="Clicca qui" /> </form>
<p>L'attributo <strong>value</strong> permette di specificare la scritta che dev'essere visualizzata sul pulsante.</p>
<p>Vedremo<a href=" ../js/funz/funz4.html"> in seguito</a>, parlando di Javascript, a cosa possono servire i pulsanti generici in un form. </p>
<p></p>
<p>&nbsp; </p>
</div>
    <!-- Fine Contenuti -->
</body>
</html>



