<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
<title>Programmiamo</title>
<meta name="keywords" content="programmiamo, programmi, linguaggi, javascript, visual basic"/>
<meta name="description" content="linguaggi di programmazione"/>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
<link href=" ../css/principale.css" rel="stylesheet" type="text/css"/>
<link href=" ../css/classi.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <div id="contenitore2">
    <!-- Contneuti -->

	<div class="titolo">

	  <p>Pagine statiche e pagine dinamiche  </p>
	</div>
        <p>L'HTML non &egrave; un vero linguaggio di programmazione, in quanto non &egrave; in grado di elaborare dati n&eacute; di eseguire vere e proprie istruzioni (non contiene selezioni, cicli, variabili eccetera). Le pagine scritte in HTML puro vengono dette <strong>statiche</strong> dal momento che il loro contenuto non cambia e vengono visualizzate sempre allo stesso modo sul browser dell'utente.  </p>
        <p>Con la crescita esponenziale di internet e l'aumento delle pagine in rete, gi&agrave; nei primi anni novanta si avvert&igrave; la necessit&agrave; di potenziare il linguaggio HTML per realizzare <strong>pagine dinamiche</strong>, cio&egrave; in grado di modificarsi, interagendo con l'utente (si 
		parla in questi casi di<em> DHTML</em>=Dynamic HTML). E' bene precisare 
		subito che DHTML non sta a indicare un linguaggio, ma piuttosto una 
		tipologia di realizzazione di pagine web.</p>
        <p>Il contenuto di una pagina dinamica, a differenza di una pagina 
		statica, viene generato (almeno parzialmente) al momento della 
		visualizzazione sul browser e pu&eacute; dunque variare in funzione delle 
		condizioni di accesso, dei dati inseriti dall'utente, eccetera. 
		Tipicamente l'uso di pagine DHTML consente di:</p>
        <ul>
          <li>animare testo e/o immagini in una pagina; </li>
          <li>inserire codice che si aggiorna automaticamente, per esempio con le ultime notizie, il conteggio del numero di visitatori al sito etc. </li>
          <li>usare un form per acquisire dati da parte dell'utente e quindi elaborarli;</li>
          <li> inserire bottoni e menu dinamici, il cui aspetto cambia in base alla posizione del cursore del mouse.</li>
        </ul>
        <p>Un esempio familiare di pagina dinamica &eacute; rappresentato dai risultati di 
	una ricerca effettuata su un motore di ricerca, es. Google. Evidentemente i 
	risultati visualizzati dipendono dalla ricerca effettuata e devono essere 
	generati &quot;al volo&quot;, cio&eacute; non possono essere scritti in modo statico su una 
	pagina HTML.</p>

	<div class="titolo">

	  <p>Tecnologie per la realizzazione di pagine dinamiche  </p>
	</div>
        <p>Per realizzare pagine dinamiche vi sono diverse tecnologie o metodi, 
		i quali differiscono fra loro per i tipi di linguaggi utilizzati e per 
		gli scopi e le possibilit&eacute; che offrono.</p>
	<p>Cercando di schematizzare, i principali metodi possono essere suddivisi 
	cos&eacute;:</p>
	<ol>
					<li><strong>Fogli stile CSS</strong><br />
					Mediante l'uso di stili &eacute; possibile specificare il 
					comportamento di un dato elemento in una pagina HTML in 
					risposta a semplici eventi, come per esempio il passaggio 
					del mouse. Questo consente di realizzare effetti dinamici 
					come menu a discesa. In particolare l'ultima versione dei 
					fogli stile (CSS3) &eacute; stata ulteriormente potenziata con 
					l'aggiunta di numerosi nuovi effetti dinamici.<br />
					<br />
					</li>
					<li><strong>Linguaggi di scripting lato client</strong><br />
					Si tratta di veri e propri linguaggi di programmazione che 
					consentono di inserire istruzioni eseguibili all'interno di 
					una pagina HTML. Tali istruzioni vengono eseguite 
					(interpretate) dal browser, cio&eacute; sul computer dell'utente 
					che visualizza la pagina. Fra i linguaggi di scripting lato 
					client il pi&eacute; usato &eacute; senza dubbio il JavaScript. Altre 
					possibilit&eacute; includono VBscript, PERL e altri linguaggi meno 
					noti. Per una <a href=" ../js/js.html">trattazione 
					approfondita di JavaScript</a> rimandiamo all'apposita 
					sezione del sito.<br />
					<br />
					</li>
					<li><strong>Linguaggi di scripting lato server</strong><br />
					Si tratta di linguaggi di programmazione il cui codice viene 
					eseguito sul server che ospita la pagina, prima che questa 
					venga inviata al browser dell'utente. In questo campo i 
					linguaggi pi&eacute; usati sono PHP, ASP. CGI e molti altri. Per 
					una <a href=" ../php/php.html">trattazione approfondita 
					del linguaggio PHP</a> rimandiamo alla sezione del sito.<br />
					</li>
	</ol>
	<p>Nelle pagine che seguono affronteremo la costruzione di pagine dinamiche 
	attraverso l'uso dei fogli stile CSS3. Le parti relative alla programmazione 
	in javascript e in php sono trattate nelle apposite sezioni del sito.</p>
	<p>&nbsp;</p>
</div>
    <!-- Fine Contenuti -->
</body>
</html>



