<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it">
<head>
<title>Programmiamo</title>
<meta name="keywords" content="programmiamo, programmi, linguaggi, javascript, visual basic"/>
<meta name="description" content="linguaggi di programmazione"/>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
<link href=" ../css/principale.css" rel="stylesheet" type="text/css"/>
<link href=" ../css/classi.css" rel="stylesheet" type="text/css"/>
<style type="text/css">
.style1 {
				text-align: center;
}
</style>
</head>
<body>
  <div id="contenitore2">
    <!-- Contneuti -->

	

        <div class="titolo"> Responsive Design</div>
        <p>Con <strong>Responsive Design</strong> (tradotto talvolta con <em>
		Design Responsivo</em>) si intende una tecnica di progettazione di siti 
		web in grado di adattarsi graficamente in modo automatico al dispositivo 
		coi quali vengono visualizzati (monitor PC con diverse risoluzioni, 
		tablet, smartphone, cellulari, tv, etc), riducendo al minimo la 
		necessit&eacute; dell'utente di ridimensionare e scorrere i contenuti. </p>
	<p>Tale problematica pu&eacute; essere ricondotta all'accessibilit&eacute;, in quanto si 
	tratta appunto di garantire la piena accessibilit&eacute; del sito a tutti gli 
	utenti, indipendentemente dal dispositivo utilizzato ed ha assunto enorme 
	importanza negli ultimi anni, con la grande diffusione di terminali mobili (tablet 
	e smartphone). Vi sono anche aspetti di usabilit&eacute;, in quanto un sito 
	progettato secondo le tecniche di Responsive Design pu&eacute; essere usato in modo 
	pi&eacute; efficace su tutti i dispositivi.</p>
	<p>Se un sito non viene progettato avendo in mente il Responsive Design, il 
	rischio &eacute; che le pagine vengano visualizzate correttamente su uno schermo di 
	grandi dimensioni, ma non sui piccoli schermi o viceversa (richiedendo per 
	esempio lo scrolling orizzontale per poter leggere tutto il contenuto della 
	pagina).</p>
	<p class="style1">
	<img alt="Esempio di Responsive Design" src="../img/img10.jpg" /></p>

	

        <div class="titolo"> Gli obiettivi del responsive design: di cosa ci si 
						deve occupare</div>
        <p>Il <em>responsive design</em> pu&eacute; essere definito pi&eacute; in generale 
		come una serie di tecniche di 
		progettazione, volte ad assicurare il corretto funzionamento e 
		visualizzazione di tutti gli elementi di una pagina su dispositivi 
		differenti. I principali obiettivi del <em>responsive design</em> possono essere 
		cos&eacute; sommariamente elencati:</p>
	<ul>
					<li>adattare il layout al pi&eacute; ampio numero di risoluzioni di 
					schermo possibile (dai telefoni cellulari al desktop); </li>
					<li>adattare le dimensioni delle immagini (e in genere di 
					tutti i contenuti a larghezza fissa) alla risoluzione e alle 
					dimensioni dello schermo; </li>
					<li>servire immagini &#8216;meno pesanti&#8217; ai dispositivi che non 
					possono sempre sfruttare la banda larga; </li>
					<li>semplificare il layout degli elementi presenti sulla 
					pagina per i dispositivi mobili con schermi piccoli; </li>
					<li>nascondere gli elementi non essenziali su questi stessi 
					dispositivi; </li>
					<li>fornire un&#8217;interfaccia adatta all&#8217;interazione touch per 
					i device che la supportano; individuare e sfruttare, quando 
					serve, funzionalit&eacute; adatte al mobile (come la 
					geolocalizzazione). </li>
	</ul>
	<p>Come si vede le cose di cui si deve occupare un progettista di <em>responsive 
	design </em>sono davvero molte e in questa sede non potremo che affrontarne solo 
	alcune.</p>

	

        <div class="titolo"> I principi responsive design: come gestire i 
						contenuti della pagina</div>
        <p>Il punto di partenza per progettare in modo responsive &eacute; mettere al 
		centro del proprio progetto i contenuti della pagina, cio&eacute; le 
		informazioni che si vogliono comunicare al visitatore. Questa priorit&eacute; 
		dei contenuti implica che il layout (la disposizione degli elementi 
		sulla pagina) va pensato solo in un secondo tempo e solo in funzione dei 
		contenuti stessi.</p>
	<p>Per &#8216;contenuti&#8217; non si intendono qui semplicemente i testi, le immagini e 
	gli altri elementi multimediali che costituiscono la base informativa del 
	sito. Sono &#8216;contenuti&#8217; anche il logo, il menu di navigazione principale, le 
	sezioni secondarie, i moduli per la ricerca sul sito, le inserzioni 
	pubblicitarie, etc. </p>
	<p>Le domande pratiche a cui bisogna rispondere sono:</p>
	<ul>
					<li>quali contenuti inseriamo sulla pagina?</li>
					<li>per i dispositivi mobili inseriamo gli stessi contenuti 
					e le stesse funzionalit&eacute; che usiamo per il desktop?</li>
					<li>se non inseriamo gli stessi contenuti, quali manteniamo?
					</li>
					<li>in che ordine li collochiamo?</li>
					<li>questo elemento va &#8216;sotto&#8217; o &#8216;sopra&#8217; a quest&#8217;altro?</li>
					<li>sui dispositivi mobili come trattiamo i contenuti 
					&#8216;superflui&#8217;? li nascondiamo? li compattiamo? </li>
	</ul>
	<p>Un buon approccio pratico al problema &eacute; cominciare col fare una lista di 
	tutti i contenuti che dovranno essere presentati sulla pagina. Poi si ordina 
	la lista, partendo dagli elementi pi&eacute; importanti fino ai meno importanti. I 
	pi&eacute; importanti dovranno ovviamente essere visualizzati su ogni tipo di 
	terminale, mentre gli altri (quelli meno importanti) potranno anche essere 
	riservati solo agli schermi di dimensioni maggiori.</p>
	<p>Date un'occhiata all'immagine in figura:</p>
	<p>
	<img alt="priorit&eacute; dei contenuti nel responsive design" src="../img/imgE2.jpg" /></p>
	<p>Si osservi come passando dal monitor del PC al tablet alcuni contenuti 
	non vengano visualizzati (es. la carta geografica al centro) e altri vengano 
	visualizzati a dimensioni ridotte (es. l'immagine in alto a destra). Anche 
	il layout della pagina cambia e si riduce a solo due colonne. Passando 
	ancora al piccolo schermo dello smartphone, sparisce anche l'immagine di 
	Obama e in contenuti vengono riorganizzati su un'unica colonna.</p>
	<p>Nella progettazione di una pagina responsive uno dei principi cardine &eacute;
	<em>partire dal dispositivo mobile</em> (<strong>mobile first</strong>) 
	ovvero da quello con lo schermo di minori dimensioni.</p>
	<p>Secondo questo approccio, non si parte, quindi, da un layout e da un set 
	di funzionalit&eacute; concepiti per il desktop per poi adattarli per il mobile. Al 
	contrario, si parte dai limiti posti dai dispositivi mobili per concentrarsi 
	al meglio sui contenuti essenziali, per poi arricchire il tutto sui 
	dispositivi pi&eacute; capaci, man mano che insomma aumentano le dimensioni dello 
	schermo (ma anche la potenza dell&#8217;hardware). </p>
</div>
    <!-- Fine Contenuti -->
</body>
</html>



