<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it">
<head>
<title>Programmiamo</title>
<meta name="keywords" content="programmiamo, programmi, linguaggi, javascript, visual basic"/>
<meta name="description" content="linguaggi di programmazione"/>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
<link href=" ../css/principale.css" rel="stylesheet" type="text/css"/>
<link href=" ../css/classi.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <div id="contenitore2">
    <!-- Contneuti -->

	<div class="titolo">

	  <p>Il codice nascosto </p>
	</div>
        <p>Il <a href=" ../internet/intro/intro2.html">browser</a> (Internet Explorer, Firefox Mozilla, Google Chrome) visualizza una pagina internet, ma non il codice che l'ha generata. Per vedere cosa c'&egrave; &quot;dietro le quinte&quot; occorre usare un comando che, a seconda del browser utilizzato, prende nomi diversi. Per esempio in Internet Explorer 8 il comando &egrave; Pagina/HTML; in Firefox Mozilla &egrave; Visualizza/Sorgente Pagina; in Google Chrome &egrave; Opzioni per Sviluppatori/Visualizza Sorgente etc.</p>
        <p>In tutti i casi quello che viene mostrato &egrave; il codice (in un certo senso &quot;il programma&quot;) che produce la visualizzazione della pagina sul browser. Questo per esempio &egrave; l'inizio del codice della home page del sito Programmiamo come viene visualizzato in Internet Explorer:</p>
        <p><img src="../img/codice.jpg" alt="" width="640" height="360" /></p>
        <div class="titolo">
          Il linguaggio HTML: breve storia dalle origini all'HTML 5</div>
        <p>Il linguaggio col quale sono scritte le pagine internet si chiama HTML, acronimo di   <strong>HyperText Markup Language</strong>&nbsp;(traduzione letterale: 
		<em>linguaggio di marcatura per ipertesti</em>).   Tutti i siti web sono scritti in HTML, codice che viene letto ed elaborato dal&nbsp;browser, il quale a sua volta genera la pagina che viene visualizzata sullo schermo del computer.</p>
        <p>L'HTML nasce alla fine degli anni 80 nei laboratori del CERN di Ginevra a opera principalmente di Tim Berners-Lee e collaboratori. Esso venne sviluppato con lo scopo di permettere la condivisione e lo scambio a distanza di materiale scientifico, mediante la realizzazione di ipertesti al calcolatore. L'HTML nasce come linguaggio universale e di pubblico dominio per la creazione di ipertesti in rete. </p>
        <p>Nel corso degli anni, seguendo lo sviluppo di Internet, l'HTML ha 
		subito molte revisioni, ampliamenti e miglioramenti, che sono stati 
		indicati secondo la classica numerazione usata per descrivere le 
		versioni dei software. Attualmente l'ultima versione disponibile &eacute; la 
		versione 5, resa pubblica il 28 ottobre 2014. La precedente versione, 
		ancora largamente usata in molti siti, &eacute; la 4.01 (pubblicata il 24 
		dicembre 1999). La principale (ma non l'unica) differenza fra HTML 4 e HTML 
		5 &eacute; che quest'ultimo &eacute; stato progettato per eseguire contenuto 
		multimediale (video, musica etc.) e applicazioni senza il bisogno di 
		aggiungere nessun plugin (cio&eacute; componente aggiuntivo) al browser. 
		Attualmente la maggior parte dei browser moderni supporta la nuova 
		versione del linguaggio, che comunque resta retrocompatibile 
		con le pagine scritte in HTML4.</p>
	<p>Dalle origini&nbsp; ad oggi gli scopi e gli utilizzi dell'HTML si sono 
	enormemente ampliati, parallelamente alla diffusione della rete internet. 
	Conseguentemente anche la sintassi e le istruzioni del linguaggio sono 
	cambiate, ma la struttura base dei documenti HTML &eacute; comunque rimasta 
	sostanzialmente la stessa ed &eacute; ci&eacute; di cui ci occuperemo nelle prossime 
	lezioni (facendo riferimento allo standard HTML 5 che &eacute; quello pi&eacute; 
	aggiornato).</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
</div>
    <!-- Fine Contenuti -->
</body>
</html>



