<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it">
<head>
<title>Programmiamo</title>
<meta name="keywords" content="programmiamo, programmi, linguaggi, javascript, visual basic"/>
<meta name="description" content="linguaggi di programmazione"/>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
<link href=" ../css/principale.css" rel="stylesheet" type="text/css"/>
<link href=" ../css/classi.css" rel="stylesheet" type="text/css"/>
<style type="text/css">
.style1 {
				text-align: center;
}
</style>
</head>
<body>
  <div id="contenitore2">
    <!-- Contneuti -->

        <div class="titolo">
          La nostra prima pagina HTML </div>
        <p>Approfondiremo in seguito la sintassi del linguaggio HTML. Per adesso vogliamo semplicemente creare una pagina HTML e visualizzarla sul nostro browser.</p>
        <p>Per fare questo eseguiamo il programma Blocco Note di windows (o un altro editor di testi equivalente) e copiamo in un nuovo documento il codice seguente:</p>
        <div class="code">
          <table>
            <tbody>
              <tr>
                <td width="571">&lt;!DOCTYPE html&gt; </td>
              </tr>
              <tr>
                <td>&lt;html&gt; </td>
              </tr>
              <tr>
                <td>&nbsp;&nbsp;&lt;head&gt;<br />
				&lt;meta charset=&quot;utf-8&quot;&gt; </td>
              </tr>
              <tr>
                <td>&lt;title&gt; La mia prima pagina in HTML &lt;/title&gt; </td>
              </tr>
              <tr>
                <td>&nbsp;&nbsp;&lt;/head&gt;</td>
              </tr>
              <tr>
                <td>&nbsp;&nbsp;&lt;body&gt;</td>
              </tr>
              <tr>
                <td>&lt;p&gt;Ecco la mia &lt;strong&gt; prima pagina!!!! &lt;/strong&gt; in HTML &lt;/p&gt;</td>
              </tr>
              <tr>
                <td>&lt;p&gt; Visita &lt;a href = &quot;  http://www.programmiamo.altervista.org/index.html&quot;&gt; Programmiamo&lt;/a&gt;:&lt;br /&gt; potrai imparare <br />
                  tutti i segreti dell'HTML! &lt;/p&gt;</td>
              </tr>
              <tr>
                <td>&nbsp;&nbsp;&lt;/body&gt;</td>
              </tr>
              <tr>
                <td>&lt;/html&gt;</td>
              </tr>
            </tbody>
          </table>
        </div>
        <p>Non ci preoccupiamo troppo per adesso del significato delle istruzioni del linguaggio. Il risultato dell'operazione di copia e incolla sul codice precedente nella finestra di Blocco Note dovrebbe essere il seguente:</p>
        <p>
		<img alt="Html in Blocco Note di Windows" src="../img/html5.jpg" />&nbsp;</p>
        <p>A questo punto dobbiamo salvare il file dandogli un nome a piacere. Bisogna per&ograve; fare attenzione a che il nome del file sia seguito dall'estensione .html che identifica i documenti html (l'estensione &egrave; una parte del nome del file, separata dal resto del nome da un punto, che specifica il tipo di file).</p>
        <p>Quest'operazione &egrave; leggermente delicata perch&eacute; il Blocco Note (come altri programmi simili) usa automaticamente l'estensione .txt, perci&ograve;, se non si fa attenzione, si finisce per salvare il documento con una estensione sbagliata.</p>
        <p>Nel dettaglio, la procedura da seguire &egrave; questa:</p>
        <p> 1) Seleziono File e quindi Salva<br />
          2) Nell'opzione Salva Come devo specificare &quot;Tutti i file (*.*)&quot;<br />
          3) Scelgo quindi un nome da dare alla pagina con estensione .html (per esempio index.html)</p>
        <p><img src="../img/blocknote2.jpg" alt="" width="623" height="239" />&nbsp; </p>
        <p>Se la procedura &egrave; stata eseguita correttamente, nella cartella specificata si trover&agrave; un file di nome <em>index</em>, al quale 
		Windows associa automaticamente l'icona del browser predefinito sul proprio computer:</p>
        <p><img src="../img/index.jpg" alt="" width="597" height="70" /> </p>
        <p>Se ora proviamo a fare doppio click sul nome del file, verr&agrave; aperto automaticamente il browser e il risultato visualizzato sar&agrave; il seguente:</p>
        <p class="style1"><img src="../img/index2.jpg" alt="" width="360" height="202" /></p>
        <p>Se invece vogliamo vedere il codice &quot;sorgente&quot; della pagina, dovremmo aprirla col Blocco Note. Per fare questo basta cliccare sul nome del file col tasto destro del mouse e scegliere Apri con... Blocco Note dall'elenco che viene proposto. </p>
        <p>&nbsp;</p>
        <div class="titolo"> Riassumendo... </div>
        <p>In breve, per creare una pagina HTML occorre scrivere il codice in un file di testo con estensione .html creato col Blocco Note di windows. </p>
        <p>Per visualizzare la pagina appena creata, basta fare doppio clic sul nome del file nella cartella in cui &egrave; stato salvato: verr&agrave; automaticamente lanciato il browser predefinito sul proprio computer.</p>
        <p>Se invece si vuole modificare una pagina creata precedentemente, bisogna aprirla di nuovo col Blocco Note. Per fare ci&ograve; occorre scegliere l'opzione Apri con... Blocco Note, attivabile col tasto destro del mouse.</p>
        <p>Come abbiamo visto da questo semplice esempio, per creare una pagina internet non occorre internet! Infatti tutte le operazioni precedenti si svolgono sul nostro computer, senza implicare nessun accesso alla rete. </p>
	<p>&nbsp;</p>
</div>
    <!-- Fine Contenuti -->
</body>
</html>



