<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it">
<head>
<title>Programmiamo</title>
<meta name="keywords" content="programmiamo, programmi, linguaggi, javascript, visual basic"/>
<meta name="description" content="linguaggi di programmazione"/>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
<link href=" ../css/principale.css" rel="stylesheet" type="text/css"/>
<link href=" ../css/classi.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <div id="contenitore2">
    <!-- Contneuti -->

	<div class="titolo">

	  <p>Brevi cenni alla struttura della rete Internet </p>
	</div>
    <p>Nella lezione precedente abbiamo visto come sia possibile realizzare una pagina internet e visualizzarla sul proprio computer, senza neppure avere un accesso a internet.</p>
    <p>D'altra parte &egrave; evidente come il vero interesse nello sviluppare pagine HTML consiste nella possibilit&agrave; di &quot;metterle in rete&quot;, cio&egrave; di renderle pubbliche e disponibili a tutti gli altri utenti di 
	Internet. </p>
	<p>L'argomento Internet &eacute; sviluppato nel dettaglio nell'<a href=" ../internet/index.html">apposita 
	sezione del sito</a>. Qui diamo solo un'occhiata per sommi capi a quello che succede quando il nostro browser &egrave; collegato alla rete e richiede la visualizzazione di una certa pagina.</p>
    <p>Il primo passo del processo di visualizzazione consiste nel fornire al browser l'indirizzo della pagina che desideriamo visualizzare. Tale indirizzo si chiama tecnicamente 
	<strong>URL</strong> (<em>Uniform Resource Locator</em>). Per esempio l'URL di questa pagina &egrave; e viene visualizzata nella cosiddetta barra degli indirizzi sul nostro browser.</p>
    <p>L'URL identifica un file html (la pagina da scaricare) e il computer che 
	lo contiene o <em>ospita</em> nella rete. Tale computer (o insieme di computer) viene genericamente denominato server-host o semplicemente <strong>host</strong> (cio&egrave; <em>ospite</em>). In pratica il browser del nostro computer invia in rete una richiesta per quella certa pagina.</p>
    <p>Poich&eacute; l'host potrebbe anche trovarsi fisicamente molto lontano dal nostro computer, la richiesta viaggia lungo la rete mondiale, la quale &egrave; fondamentalmente costituita da una serie di computer collegati fra di loro, detti <strong>router</strong> (o instradatori). Compito dei router &egrave; appunto quello di instradare le richieste e le pagine che viaggiano sulla rete internet, facendo in modo che pervengano a destinazione.</p>
    <p><img src="../img/rete.jpg" alt="" width="513" height="333" /></p>
    <p>Quando la richiesta partita dal nostro browser arriva all'host, questi provvede a prendere il file html corrispondente (che si trover&agrave; memorizzato su uno dei dischi di tale computer remoto) e a rispedirlo indietro fino al nostro browser, il quale infine visualizza la pagina. In pratica ci&ograve; che avviene &egrave; un trasferimento di file, dall'host fino al nostro computer. Alla fine il browser visualizza la pagina come se essa si trovasse sul nostro computer... ma in effetti si trova proprio l&igrave;! O meglio, quello che c'&egrave; sul nostro computer &egrave; una copia del file che &egrave; memorizzato sull'host e che &egrave; giunto fino a noi in pochi secondi viaggiando a velocit&agrave; prossime a quella della luce sulla rete 
	Internet (e magari arrivando da un altro continente). </p>
    <p>&nbsp;</p>
</div>
    <!-- Fine Contenuti -->
</body>
</html>



