<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it">
<head>
<title>Programmiamo</title>
<meta name="keywords" content="programmiamo, programmi, linguaggi, javascript, visual basic"/>
<meta name="description" content="linguaggi di programmazione"/>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
<link href=" ../css/principale.css" rel="stylesheet" type="text/css"/>
<link href=" ../css/classi.css" rel="stylesheet" type="text/css"/>
<style type="text/css">
.style1 {
				text-align: center;
}
</style>
</head>
<body>
  <div id="contenitore2">
    <!-- Contneuti -->

	<div class="titolo">

	  <p>Gli strumenti per scrivere una pagina in HTML  </p>
	</div>
        <p>Gli strumenti informatici necessari per realizzare e visualizzare una pagina HTML sono realmente minimi e inoltre &egrave; possibile procurarseli gratuitamente in internet, fra il cosiddetto software libero. Questa &egrave; una differenza importante fra l'HTML e altri linguaggi per il computer, che invece richiedono l'installazione di software specifico e sovente &quot;proprietario&quot; (cio&egrave; protetto da copyright e dunque a pagamento). L'HTML &egrave; invece un linguaggio pubblico, liberamente utilizzabile da tutti. </p>
        <p> Fondamentalmente, per realizzare una pagina internet... non occorre neppure un collegamento alla rete! Tutto ci&ograve; che serve &egrave; invece:</p>
        <p>1) un editor di file di testo<br />
        2) un browser <br />
		3) un validatore</p>
        <p>Per quanto riguarda il <a href=" ../internet/intro/intro2.html">browser</a>, ne abbiamo gi&agrave; parlato nelle lezioni precedenti: si tratta del programma che visualizza la pagina HTML. Ormai tutti i computer, qualunque sia il sistema operativo installato, hanno gi&agrave; un browser pre-installato e non &egrave; difficile scaricare e installare altri browser dalla rete (es. <a href="http://www.mozilla-europe.org/it/firefox/" target="_blank">Firefox Mozilla</a>, <a href="http://www.google.it/chrome" target="_blank">Google Chrome</a>, <a href="http://www.opera.com/" target="_blank">Opera</a>).</p>
        <p>L'<strong>editor di testi</strong> &egrave; invece un programma di video-scrittura in grado di salvare file in formato testo. Un tipico e semplice esempio di editor di testi &egrave; il Blocco Note integrato nelle diverse versioni del sistema operativo Windows. Il blocco note permette di scrivere semplici testi, senza nessuna opzione di formattazione (cio&egrave; senza poter cambiare il colore o il font del testo o inserire immagini o altro). Un editor di testi &egrave; necessario per scrivere il codice HTML che produce la visualizzazione della pagina. </p>
	<p>Sono disponibili anche editor di testi pi&eacute; evoluti rispetto al Blocco 
	Note, i quali includono anche strumenti per la modifica e l'inserimento 
	automatico del codice html. Un'altra categoria di editor &eacute; quella dei 
	cosiddetti editor WYSIWYG, acronimo dell'inglese What You See Is What You 
	Get (quello che vedi &eacute; quello che ottieni). Questi programmi permettono di 
	generare il codice html in modo visivo e in gran parte automatico, creando 
	la pagina in modalit&eacute; visiva (un po' come se fosse un documento di Word). 
	Maggiori informazioni sui diversi tipi di editor per html
	<a target="_blank" href="https://it.wikipedia.org/wiki/Lista_di_editor_HTML">
	possono essere trovate qui</a>.</p>
	<p>Il validatore &eacute; un programma che consente di individuare (e poi 
	correggere) eventuali errori nel codice html. Torneremo
	<a href=" pagina/validazione.html">fra breve su questo argomento</a>.</p>
        <p>Infine pu&eacute; anche essere utile un client ftp, cio&eacute; un programma per 
		caricare la pagina (e le sue diverse componenti, es. immagini, fogli 
		stile etc) sul sito remoto che la ospita. Uno dei pi&eacute; conosciuti client 
		ftp &eacute; l'ottimo <a target="_blank" href="https://filezilla-project.org/">
		Filezilla</a> (che &eacute; anche gratuito).</p>
	<p>&nbsp;</p>
</div>
    <!-- Fine Contenuti -->
</body>
</html>



